/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Default modal

*/

.default-modal {
    overflow-x: hidden;
    z-index: z('default-modal');
    transition: $default-modal-transition;
    background-color: $modal-global-content-bg;

    .tingle-modal-box {
        align-self: center;
        top: 0;
        max-width: $default-modal-max-width-xxl;
        width: 100%;
        background-color: $modal-global-content-bg;

        .content-section {
            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        .content-section__container {
            padding: 0;
        }
    }

    .tingle-modal-box__content {
        @include fluid-size((min: $grid-gutter-width-xs * 2, max: $grid-gutter-width * 2), padding-top);
        @include fluid-size((min: $grid-gutter-width-xs, max: $grid-gutter-width), padding-left);
        @include fluid-size((min: $grid-gutter-width-xs, max: $grid-gutter-width), padding-right);
        @include fluid-size((min: $grid-gutter-width-xs, max: $grid-gutter-width), padding-bottom);
    }

    // close button hidden per default
    .tingle-modal__close {
        display: none;
        position: absolute;
        top: 0 !important;
        right: 0;
        left: auto;
        line-height: 1;
        width: $default-modal-close-btn-width-xs;
        height: $default-modal-close-btn-height-xs;

        &:focus {
            outline: none;
        }

        &:before {
            color: $modal-global-close-icon-color;
        }

        &:hover:before,
        &:focus:before {
            color: $modal-global-close-icon-color-hover;
        }

        @include media-breakpoint-up(md) {
            width: $default-modal-close-btn-width-md;
            height: $default-modal-close-btn-height-md;
        }
        @include media-breakpoint-up(xl) {
            width: $default-modal-close-btn-width-xl;
            height: $default-modal-close-btn-height-xl;
        }
        @include media-breakpoint-up(xxl) {
            width: $default-modal-close-btn-width-xxl;
            height: $default-modal-close-btn-height-xxl;
        }
    }
    // close button enabled
    &.tingle-modal--ButtonClose {
        .tingle-modal__close {
            display: block;
        }
    }

    // overlay close enabled?
    cursor: default;
    &.tingle-modal--OverlayClose {
        cursor: pointer;
    }
}

.infobox-trigger {
    @include sr-only();
}
