/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Form modal

*/

.default-modal {

    overflow-x: hidden;
    z-index: z("default-modal");
    transition: $default-modal-transition;

    .tingle-modal-box {
        align-self: center;
        top: 0;
        width: 100%;
        @media (min-width:$screen-md) {
            max-width: $defaul-modal-max-width-md;
        }
        @media (min-width:$screen-xxl) {
            max-width: $defaul-modal-max-width-xxl;
        }
    }

    .tingle-modal-box__content {
        padding: $default-modal-spacing-xs;
        @media (min-width:$screen-md) {
            padding: $default-modal-spacing-md;
        }
    }

    // close button hidden per default
    .tingle-modal__close {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        line-height: 1;
        top: 0 !important;
        &:focus {
            outline: none;
        }
        width: $default-modal-close-btn-width-xs;
        height: $default-modal-close-btn-height-xs;

        @media (min-width:$screen-md) {
            width: $default-modal-close-btn-width-md;
            height: $default-modal-close-btn-height-md;
        }
        @media (min-width:$screen-xl) {
            width: $default-modal-close-btn-width-xl;
            height: $default-modal-close-btn-height-xl;
        }
        @media (min-width:$screen-xxl) {
            width: $default-modal-close-btn-width-xxl;
            height: $default-modal-close-btn-height-xxl;
        }
    }
    // close button enabled
    &.tingle-modal--ButtonClose {
        .tingle-modal__close {
            display: block;
        }
    }

    // overlay close enabled?
    &.tingle-modal--OverlayClose {
        cursor: pointer;
    }
}
