/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Form modal

*/

.form-modal {

    overflow-x: hidden;
    z-index: z("form-modal");
    transition: $form-modal-transition;

    &.tingle-modal--visible {
        .tingle-modal-box {
            animation-name: fadeIn;
            animation-duration: $form-modal-fade-in-duration;
            animation-timing-function: ease-in;
            animation-fill-mode: forwards;
        }
    }

    .tingle-modal-box {
        align-self: center;
        top: 0;
        width: 100%;
        opacity: 0;
        @media (min-width:$screen-md) {
            max-width: $form-modal-max-width-md;
        }
        @media (min-width:$screen-xxl) {
            max-width: $form-modal-max-width-xxl;
        }
    }

    .tingle-modal-box__content {
        padding: $form-modal-spacing-xs;
        @media (min-width:$screen-md) {
            padding: $form-modal-spacing-md;
        }
    }

    .tingle-modal__close {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        line-height: 1;
        top: 0 !important;
        &:focus {
            outline: none;
        }

        width: $form-modal-close-btn-width-xs;
        height: $form-modal-close-btn-height-xs;

        @media (min-width:$screen-md) {
            width: $form-modal-close-btn-width-md;
            height: $form-modal-close-btn-height-md;
        }
        @media (min-width:$screen-xl) {
            width: $form-modal-close-btn-width-xl;
            height: $form-modal-close-btn-height-xl;
        }
        @media (min-width:$screen-xxl) {
            width: $form-modal-close-btn-width-xxl;
            height: $form-modal-close-btn-height-xxl;
        }
    }
}
