/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Django CMS specific adjustments

Position when logged in. This prevents overlapping with the CMS toolbar.

*/

html.cms-ready {
    // collapsed
    .tingle-modal {
        top: $cms-toolbar-height-collapsed;
        @media (min-width:$screen-sm) {
            .tingle-modal__close {
                top: $cms-toolbar-height-collapsed;
            }
        }
    }
    // toolbar expanded
    &.cms-toolbar-expanded {
        .tingle-modal {
            top: $cms-toolbar-height-expanded;
        }
        @media (min-width:$screen-sm) {
            .tingle-modal__close {
                top: $cms-toolbar-height-expanded;
            }
        }
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Global modal definitions

*/

body.tingle-enabled {
    @media print {
        height: auto !important;
        margin: 0 !important;
        overflow: visible !important;
        #cms-top,
        .site-header,
        .site-content,
        .site-footer {
            display: none;
        }
    }
}

.tingle-modal {
    // fixes bug that selects text when closing the modal by clicking on the overlay
    -moz-user-select: none;
    // add scroll bars per default
    overflow-y: auto;
    // fixes scroll isues on iOS
    @media (max-width: 1024px) {
        -webkit-overflow-scrolling: touch;
    }
    // positioning fix on mobile
    @media (max-width:$screen-xs-max) {
        top: 0;
    }
    // add correct pointer
    cursor: pointer;
    &.tingle-modal--noOverlayClose {
        cursor: default;
    }
}

// fix for projects where the position property has been forgotten
.tingle-modal__close {
    &:before {
        position: absolute;
    }
    @include print() {
        display: none !important;
    }
}

// remove default padding when overflow
.tingle-modal--overflow {
    padding-top: 0;
}

// reset transform per default, and add project specific if desired
.tingle-modal-box {
    // make sure text within the modal is selectable
    -moz-user-select: text;
    // trans
    transform: none;
    .tingle-modal--visible & {
        transform: none;
    }
    @include print() {
        position: static !important;
    }
}

.tingle-modal--visible {
    @media print {
        position: static !important;
        overflow: visible !important;
        top: 0 !important;
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Used to be on project basis

*/

.tingle-modal {
    background: none;
    cursor: pointer;
    transition: $modal-global-overlay-transition;
    z-index: z("modal");
    h1 {
        font-size: inherit;
    }
}

.tingle-modal-box {
    transition: none;
    border-radius: 0;
    background-color: $modal-global-content-bg;
    @media (min-width:$screen-md) {
        width: 90%;
    }
    @media (min-width:$screen-xl) {
        max-width: $max-width-xl;
    }
    @media (min-width:$screen-xxl) {
        max-width: $max-width-xxl;
    }
}

.tingle-modal__close {
    transition: none;
    background: transparent;
    &:hover,
    &:focus,
    &:active {
        &:before {
            color: $modal-global-close-icon-color-hover;
        }
    }
    &:before {
        content: $modal-global-close-icon;
        color: $modal-global-close-icon-color;
        font-size: $modal-global-close-icon-size;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition-property: $modal-global-close-icon-transition-property;
        transition-duration: $modal-global-close-icon-transition-duration;
        transition-timing-function: $modal-global-close-icon-transition-timing-function;
        @include icomoon();
    }
    > span {
        text-indent: -9999px;
        display: inline-block;
    }
    @media (max-width: $screen-xs-max) {
        transform: translate3d(0,0,10px);
        position: absolute !important;
    }
}

body.tingle-enabled {
    @media (max-width: $screen-sm-max) {
        .site-header,
        .site-content,
        .site-footer,
        .to-the-top {
            opacity: 0;
            visibility: hidden;
        }
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Print Settings for modal

*/

body.tingle-enabled {
    @media print {
        height: auto;
        margin: 0;
        overflow: visible;
        .site-header,
        .main-blog-container,
        .site-footer {
            display: none;
        }
    }
}
