/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Django CMS specific adjustments

Position when logged in. This prevents overlapping with the CMS toolbar.

*/

html.cms-ready {
    // collapsed
    .tingle-modal {
        top: $cms-toolbar-height-collapsed;
        @media (min-width:$screen-sm) {
            .tingle-modal__close {
                top: $cms-toolbar-height-collapsed;
            }
        }
    }
    // toolbar expanded
    &.cms-toolbar-expanded {
        .tingle-modal {
            top: $cms-toolbar-height-expanded;
        }
        @media (min-width:$screen-sm) {
            .tingle-modal__close {
                top: $cms-toolbar-height-expanded;
            }
        }
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Global modal definitions

*/

body.tingle-enabled {
    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Print Settings for modal

    */
    @media print {
        height: auto !important;
        margin: 0 !important;
        overflow: visible !important;
        #cms-top,
        .site-header,
        .site-content,
        .site-footer {
            display: none;
        }
    }

    @media (max-width: $screen-sm-max) {
        .site-header,
        .site-content,
        .site-footer {
            opacity: 0;
            visibility: hidden;
        }
    }
}

.tingle-modal {
    // fixes bug that selects text when closing the modal by clicking on the overlay
    -moz-user-select: none;
    // add scroll bars per default
    overflow-y: auto;
    // fixes scroll isues on iOS
    @media (max-width: 1024px) {
        -webkit-overflow-scrolling: touch;
    }
    // positioning fix on mobile
    @media (max-width:$screen-xs-max) {
        top: 0;
    }
    // add correct pointer
    cursor: pointer;
    &.tingle-modal--noOverlayClose {
        cursor: default;
    }
    // reset positioning styles in print mode
    @media print {
        position: static;
        display: block;
        height: auto !important;
        margin: 0 !important;
        overflow: visible !important;
    }
}

// remove default padding when overflow
.tingle-modal--overflow {
    padding-top: 0;
}

// reset transform per default, and add project specific if desired
.tingle-modal-box {
    // make sure text within the modal is selectable
    -moz-user-select: text;
    // trans
    transform: none;
    .tingle-modal--visible & {
        transform: none;
    }
    @include print() {
        position: static !important;
    }
}

.tingle-modal--visible {
    @media print {
        position: static !important;
        overflow: visible !important;
        top: 0 !important;
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Used to be on project basis

*/

.tingle-modal {
    background: $modal-global-bg;
    cursor: pointer;
    transition: $modal-global-overlay-transition;
    z-index: z("modal");
    h1 {
        font-size: inherit;
    }
}

.tingle-modal-box {
    transition: none;
    border-radius: 0;
    background-color: $modal-global-content-bg;
    @media (min-width:$screen-md) {
        width: 90%;
    }
    @media (min-width:$screen-xl) {
        max-width: $max-width-xl;
    }
    @media (min-width:$screen-xxl) {
        max-width: $max-width-xxl;
    }
}

.tingle-modal__close {
    transition: none;
    background: transparent;
    border-radius: 0;
    @include print() {
        display: none !important;
    }
    &:hover,
    &:focus,
    &:active {
        &:before {
            color: $modal-global-close-icon-color-hover;
        }
    }
    &:before {
        content: $modal-global-close-icon;
        position: absolute;
        color: $modal-global-close-icon-color;
        font-size: $modal-global-close-icon-size;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        transition-property: $modal-global-close-icon-transition-property;
        transition-duration: $modal-global-close-icon-transition-duration;
        transition-timing-function: $modal-global-close-icon-transition-timing-function;
        @include icomoon();
    }
    > span {
        text-indent: -9999px;
        display: inline-block;
    }
    @media (max-width: $screen-xs-max) {
        transform: translate3d(0,0,10px);
        position: absolute !important;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Modal Header

*/

.tingle-modal-header {
    position: absolute;
    width: auto;
    top: 0;
    z-index: 2;
    left: 50% !important;
    right: auto !important;
    transform: translate(-50%,0);
    max-width: $max-width-xxl;
    width: 100%;
    text-align: center;
    &__container {
        @include make-xs-column(24);
        @include make-lg-column(16);
        margin: 0 auto;
        padding: $grid-gutter-width/3 $grid-gutter-width;
        left: 50% !important;
        right: auto !important;
        transform: translate(-50%,0);
        @media (max-width:$screen-sm-max) {
            padding-left: $grid-gutter-width/2 !important;
            padding-right: $grid-gutter-width/2 !important;
        }
    }
    &__inner {
        position: relative;
        display: block;
        &::after {
            content: '';
            position: absolute;
            bottom: -$grid-gutter-width/3;
            display: block;
            background: $modal-header-bg-color;
            width: 100%;
            height: 1px;
        }
    }
    &__heading {
        text-align: left;
        cursor: text;
        display: block;
        text-overflow: ellipsis;
        overflow-x: hidden;
        overflow-y: hidden;
        white-space: nowrap;
        padding-right: 60px;
    }
    &__link-close {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 50%;
        left: 100%;
        transform: translate(-70%,-50%);
        transition: none;
        background: transparent;
        text-decoration: none;
        border: none;
        &:hover,
        &:focus,
        &:active {
            &::before {
                color: $modal-global-close-icon-color-hover;
            }
        }
        &::before {
            position: absolute;
            content: $modal-global-close-icon;
            color: $modal-global-close-icon-color;
            font-size: $modal-global-close-icon-size;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            transition-property: $modal-global-close-icon-transition-property;
            transition-duration: $modal-global-close-icon-transition-duration;
            transition-timing-function: $modal-global-close-icon-transition-timing-function;
            @include icomoon();
        }
    }
}
