/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Image Modal

*/

.image-modal {

    overflow-x: hidden;
    z-index: z("image-modal");
    transition: $image-modal-transition;

    &.tingle-modal--visible {
        transform: translate(0,0);
        opacity: 1;
    }

    .tingle-modal-box {
        width: 100%;
        max-width: $image-modal-max-width;
        background-color: transparent;
    }

    .tingle-modal-box__content {
        padding: 0;
    }

    .tingle-modal__close {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        line-height: 1;
        top: 0 !important;
        &:focus {
            outline: none;
        }
        &:before {
            color: $image-modal-close-icon-color;
        }

        &:hover,
        &:focus {
            &:before {
                color: $image-modal-close-icon-color-hover;
            }
        }

        width: $form-modal-close-btn-width-xs;
        height: $form-modal-close-btn-height-xs;

        @media (min-width:$screen-md) {
            width: $form-modal-close-btn-width-md;
            height: $form-modal-close-btn-height-md;
        }
        @media (min-width:$screen-xl) {
            width: $form-modal-close-btn-width-xl;
            height: $form-modal-close-btn-height-xl;
        }
        @media (min-width:$screen-xxl) {
            width: $form-modal-close-btn-width-xxl;
            height: $form-modal-close-btn-height-xxl;
        }
    }
}
