/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Softpage

*/

.softpage {

    // in case of the softpage, we want our .tingle-modal-box to handle to overflow scrolling
    overflow: hidden;

    .form-modal-visible &,
    .image-modal-visible & {
        opacity: 0;
    }

    .tingle-modal-box {
        position: absolute;
        top: 0;
        right: auto;
        bottom: 0;
        left: auto;
        margin: 0;
        min-height: 0; // this one is set on a project basis, so we gotta force it
        overflow-y: scroll; // has to be scroll, not auto
        overflow-x: hidden;
        -webkit-overflow-scrolling: touch;
        opacity: 0;
        transform: translate(0, $softpage-content-box-offset);
        transition: $softpage-content-box-transition;
        width: 100%;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            left: 0;
            right: 0;
        }
        @media (min-width: $screen-sm) {
            max-width: $softpage-max-width-sm;
        }
        @media (min-width: $screen-xl) {
            max-width: $softpage-max-width-xl;
        }
        @media (min-width:$screen-xxl) {
            max-width: $softpage-max-width-xxl;
            @if $max-width-xxl {
                max-width: $max-width-xxl;
            }
        }

        // keep site header visible when opened
        @if $softpage-site-header-visible-when-opened {
            top: $softpage-offset-top-xs !important;
            @media (min-width:$screen-md) {
                top: $softpage-offset-top-md !important;
            }
            @media (min-width:$screen-xl) {
                top: $softpage-offset-top-xl !important;
            }
            @media (min-width:$screen-xxl) {
                top: $softpage-offset-top-xxl !important;
            }
        }

        // Special case: Softpage behind site-header
        @if $site-header-compact-mode-enabled == true {
            .header-compact-mode & {
                top: 0 !important;
                // keep site header visible when opened
                @if $softpage-site-header-visible-when-opened {
                    @media (min-width:$screen-md) {
                        top: $softpage-offset-top-compact-mode-md !important;
                    }
                    @media (min-width:$screen-xl) {
                        top: $softpage-offset-top-compact-mode-xl !important;
                    }
                    @media (min-width:$screen-xxl) {
                        top: $softpage-offset-top-compact-mode-xxl !important;
                    }
                }
            }
        }

        &__content {
            max-width: none;
            @include make-lg-column(16);
            @include make-lg-column-offset(4);
            padding-left: 0 !important;
            padding-right: 0 !important;
            padding-top: $grid-gutter-width/2;
            > .content-section {
                &:first-child {
                    padding-top: 0;
                }
            }
            @include print() {
                padding-top: 0 !important;
            }
        }
    }

    .tingle-modal__close {
        display: none;
        position: fixed;
        line-height: 1;
        top: 0;
        left: auto;

        &:focus {
            outline: none;
        }

        // default
        top: 0 !important;
        // keep site header visible when opened
        @if $softpage-site-header-visible-when-opened {
            @media (min-width:$screen-md) {
                top: $softpage-offset-top-md !important;
            }
            @media (min-width:$screen-xl) {
                top: $softpage-offset-top-xl !important;
            }
            @media (min-width:$screen-xxl) {
                top: $softpage-offset-top-xxl !important;
            }
        }

        // Special case: Softpage behind site-header
        @if $site-header-compact-mode-enabled == true {
            .header-compact-mode & {
                top: 0 !important;
                // keep site header visible when opened
                @if $softpage-site-header-visible-when-opened {
                    @media (min-width:$screen-md) {
                        top: $softpage-offset-top-compact-mode-md !important;
                    }
                    @media (min-width:$screen-xl) {
                        top: $softpage-offset-top-compact-mode-xl !important;
                    }
                    @media (min-width:$screen-xxl) {
                        top: $softpage-offset-top-compact-mode-xxl !important;
                    }
                }
            }
        }

        right: $softpage-close-btn-position-right-xs;
        width: $softpage-close-btn-width-xs;
        height: $softpage-close-btn-height-xs;

        @media (min-width: $screen-md) {
            transform: translate(0,0);
            background: transparent;
            border-radius: 0;
        }
        @media (min-width:$screen-md) {
            right: $softpage-close-btn-position-right-md;
            width: $softpage-close-btn-width-md;
            height: $softpage-close-btn-height-md;
        }
        @media (min-width:$screen-xl) {
            right: $softpage-close-btn-position-right-xl;
            width: $softpage-close-btn-width-xl;
            height: $softpage-close-btn-height-xl;
        }
        @media (min-width:$screen-xxl) {
            right: $softpage-close-btn-position-right-xxl;
            width: $softpage-close-btn-width-xxl;
            height: $softpage-close-btn-height-xxl;
        }
    }

    &.tingle-modal--visible {
        .tingle-modal-box {
            transform: translate(0,0);
            opacity: 1;
        }
    }

    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Variations

    */
    &[data-softpage-variation="small"] {
        .tingle-modal-box {
            @media (min-width: $screen-sm) {
                max-width: $softpage-small-sm-max-width;
            }
            @media (min-width:$screen-xxl) {
                max-width: $softpage-small-xxl-max-width;
            }
        }
    }

    .tingle-modal-header {
        @include print() {
            display: none;
        }
    }

}
