/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Extends the Bootstrap grid with an XL and XXL breakpoint

*/

// XL
@mixin make-xl-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-xl-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-xl-column-offset($columns) {
  @media (min-width: $screen-xl-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-xl-column-push($columns) {
  @media (min-width: $screen-xl-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-xl-column-pull($columns) {
  @media (min-width: $screen-xl-min) {
    right: percentage(($columns / $grid-columns));
  }
}

// XXL
@mixin make-xxl-column($columns, $gutter: $grid-gutter-width) {
  position: relative;
  min-height: 1px;
  padding-left:  ($gutter / 2);
  padding-right: ($gutter / 2);

  @media (min-width: $screen-xxl-min) {
    float: left;
    width: percentage(($columns / $grid-columns));
  }
}
@mixin make-xxl-column-offset($columns) {
  @media (min-width: $screen-xxl-min) {
    margin-left: percentage(($columns / $grid-columns));
  }
}
@mixin make-xxl-column-push($columns) {
  @media (min-width: $screen-xxl-min) {
    left: percentage(($columns / $grid-columns));
  }
}
@mixin make-xxl-column-pull($columns) {
  @media (min-width: $screen-xxl-min) {
    right: percentage(($columns / $grid-columns));
  }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Column Padding Tweaks

*/

@mixin column-paddings($grid-gutter-width: $grid-gutter-width) {
    padding-left: ($grid-gutter-width / 2);
    padding-right: ($grid-gutter-width / 2);
}

@mixin make-row-sm-max($gutter: $grid-gutter-width) {
    @media (max-width:$screen-sm-max) {
        margin-left: -($gutter/4);
        margin-right: -($gutter/4);
    }
}

@mixin column-padding-sm-max($gutter: $grid-gutter-width) {
    @media (max-width:$screen-sm-max) {
        padding-left: $gutter/4 !important;
        padding-right: $gutter/4 !important;
    }
}

