/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Main Container Mixins

*/

@mixin max-width() {
    width: auto;
    position: relative;
    @if $max-width-xxl {
        @include media-breakpoint-up(xxl) {
            max-width: $max-width-xxl;
        }
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

The ascept-ratio magic

Example Markup:

<div class="example-container">
    <!-- REQUIRED! (but the class name can be customized overwriting the $inner-container-class parameter) -->
    <div class="inner">
        ...
    </div>
</div>

SCSS:

.example-container {
    @include aspect-ratio(2,1);
}

*/

@mixin aspect-ratio($width: 4, $height: 3, $inner-container-class: 'inner', $hide-overflow: false, $max-height: false) {
    position: relative;
    @if $max-height {
        max-height: $max-height;
    }
    // optionally hide overflow
    @if $hide-overflow == true {
        overflow: hidden;
    }
    &:before {
        display: block;
        content: '';
        width: 100%;
        padding-top: ($height / $width) * 100%;
    }
    > .#{$inner-container-class} {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Header

*/

@mixin set-site-header-height() {
    height: $site-header-height-xs;
    @include media-breakpoint-up(md) {
       height: $site-header-height-md;
    }
    @include media-breakpoint-up(xxl) {
       height: $site-header-height-xxl;
    }
}

@mixin set-site-header-compact-mode-height() {
    height: $site-header-compact-mode-height-xs;
    @include media-breakpoint-up(md) {
       height: $site-header-compact-mode-height-md;
    }
    @include media-breakpoint-up(xl) {
       height: $site-header-compact-mode-height-xl;
    }
    @include media-breakpoint-up(xxl) {
       height: $site-header-compact-mode-height-xxl;
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Footer

*/

@mixin set-site-footer-height() {
    height: $site-footer-fixed-height-xs;
    @include media-breakpoint-up(md) {
        height: $site-footer-fixed-height-md;
    }
    @include media-breakpoint-up(xl) {
        height: $site-footer-fixed-height-xl;
    }
}

@mixin set-site-footer-body-margin() {
    margin-bottom: $site-footer-fixed-height-xs;
    @include media-breakpoint-up(md) {
        margin-bottom: $site-footer-fixed-height-md;
    }
    @include media-breakpoint-up(xl) {
        margin-bottom: $site-footer-fixed-height-xl;
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

CSS tables

*/

@mixin css-table() {
    display: table;
    width: 100%;
    table-layout: fixed; // fixes weird behaviour in IE
    > * {
        display: table-cell;
    }
}

@mixin css-table-xs-reset() {
    @include media-breakpoint-down(xs) {
        display: block;

        > * {
            display: block;
            width: 100% !important;
        }
    }
}

@mixin css-col-w10() { width: 10%; }
@mixin css-col-w20() { width: 20%; }
@mixin css-col-w30() { width: 30%; }
@mixin css-col-w40() { width: 40%; }
@mixin css-col-w50() { width: 50%; }
@mixin css-col-w60() { width: 60%; }
@mixin css-col-w70() { width: 70%; }
@mixin css-col-w80() { width: 80%; }
@mixin css-col-w90() { width: 90%; }
