/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

General Font Styles

*/

@mixin font-family-bold() {
    font-family: $font-family-bold;
    font-weight: normal;
}

@mixin font-family-italic() {
    font-family: $font-family-italic;
    font-weight: normal;
    font-style: normal;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Font mixins

*/

@mixin font-default() {
    letter-spacing: $font-default-letter-spacing;
    text-transform: $font-default-text-transform;
    font-family: $font-default-font-family;
    font-weight: $font-default-font-weight;
    @include font-size($font-default-font-sizes);
    @if $font-default-antialiased-enabled == true {
        @include antialiased();
    }
}

@mixin font-small() {
    letter-spacing: $font-small-letter-spacing;
    text-transform: $font-small-text-transform;
    font-family: $font-small-font-family;
    font-weight: $font-small-font-weight;
    @include font-size($font-small-font-sizes);
    @if $font-small-antialiased-enabled == true {
        @include antialiased();
    }
}

@mixin font-lead() {
    letter-spacing: $font-lead-letter-spacing;
    text-transform: $font-lead-text-transform;
    font-family: $font-lead-font-family;
    font-weight: $font-lead-font-weight;
    @include font-size($font-lead-font-sizes);
    @if $font-lead-antialiased-enabled == true {
        @include antialiased();
    }
}

@mixin font-btn-default() {
    letter-spacing: $font-btn-default-letter-spacing;
    text-transform: $font-btn-default-text-transform;
    font-family: $font-btn-default-font-family;
    font-weight: $font-btn-default-font-weight;
    @include font-size($font-btn-default-font-sizes);
    @if $font-btn-default-antialiased-enabled == true {
        @include antialiased();
    }
}

@mixin font-btn-small() {
    letter-spacing: $font-btn-small-letter-spacing;
    text-transform: $font-btn-small-text-transform;
    font-family: $font-btn-small-font-family;
    font-weight: $font-btn-small-font-weight;
    @include font-size($font-btn-small-font-sizes);
    @if $font-btn-small-antialiased-enabled == true {
        @include antialiased();
    }
}

@mixin font-btn-large() {
    letter-spacing: $font-btn-large-letter-spacing;
    text-transform: $font-btn-large-text-transform;
    font-family: $font-btn-large-font-family;
    font-weight: $font-btn-large-font-weight;
    @include font-size($font-btn-large-font-sizes);
    @if $font-btn-large-antialiased-enabled == true {
        @include antialiased();
    }
}

@mixin font-input-default() {
    letter-spacing: $font-input-letter-spacing;
    text-transform: $font-input-text-transform;
    font-family: $font-input-font-family;
    font-weight: $font-input-font-weight;
    @include font-size($font-input-font-sizes);
    @if $font-input-antialiased-enabled == true {
        @include antialiased();
    }
}

@mixin font-nav-primary() {
    letter-spacing: $font-nav-primary-letter-spacing;
    text-transform: $font-nav-primary-text-transform;
    font-family: $font-nav-primary-font-family;
    font-weight: $font-nav-primary-font-weight;
    @include font-size($font-nav-primary-font-sizes);
    @if $font-nav-primary-antialiased-enabled == true {
        @include antialiased();
    }
}

@mixin font-h1() {
    letter-spacing: $font-h1-letter-spacing;
    text-transform: $font-h1-text-transform;
    font-family: $font-h1-font-family;
    font-weight: $font-h1-font-weight;
    @include font-size($font-h1-font-sizes);
    @if $font-h1-antialiased-enabled == true {
        @include antialiased();
    }
}

@mixin font-h2() {
    letter-spacing: $font-h2-letter-spacing;
    text-transform: $font-h2-text-transform;
    font-family: $font-h2-font-family;
    font-weight: $font-h2-font-weight;
    @include font-size($font-h2-font-sizes);
    @if $font-h2-antialiased-enabled == true {
        @include antialiased();
    }
}

@mixin font-h3() {
    letter-spacing: $font-h3-letter-spacing;
    text-transform: $font-h3-text-transform;
    font-family: $font-h3-font-family;
    font-weight: $font-h3-font-weight;
    @include font-size($font-h3-font-sizes);
    @if $font-h3-antialiased-enabled == true {
        @include antialiased();
    }
}

@mixin font-h4() {
    letter-spacing: $font-h4-letter-spacing;
    text-transform: $font-h4-text-transform;
    font-family: $font-h4-font-family;
    font-weight: $font-h4-font-weight;
    @include font-size($font-h4-font-sizes);
    @if $font-h4-antialiased-enabled == true {
        @include antialiased();
    }
}

@mixin font-display-1() {
    letter-spacing: $font-display-1-letter-spacing;
    text-transform: $font-display-1-text-transform;
    font-family: $font-display-1-font-family;
    font-weight: $font-display-1-font-weight;
    @include font-size($font-display-1-font-sizes);
    @if $font-display-1-antialiased-enabled == true {
        @include antialiased();
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Responsive Font Size mixin

*/

@mixin font-size($fs-map, $fs-breakpoints: $font-size-breakpoints) {
    @each $fs-breakpoint, $fs-font-size in $fs-map {
        @if $fs-breakpoint == null {
            @include make-font-size($fs-font-size);
        }
        @else {
            // If $fs-font-size is a key that exists in
            // $fs-breakpoints, use the value
            @if map-has-key($fs-breakpoints, $fs-breakpoint) {
                $fs-breakpoint: map-get($fs-breakpoints, $fs-breakpoint);
            }
            @media screen and (min-width: $fs-breakpoint) {
                @include make-font-size($fs-font-size);
            }
        }
    }
}

// Utility function for mixin font-size
@mixin make-font-size($fs-font-size) {
    // If $fs-font-size is a list, include
    // both font-size and line-height
    @if type-of($fs-font-size) == "list" {
        font-size: nth($fs-font-size, 1);
        @if (length($fs-font-size) > 1) {
            line-height: nth($fs-font-size, 2);
        }
    }
    @else {
        font-size: $fs-font-size;
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Antiialiasing

*/

@mixin antialiased() {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin no-antialiased() {
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
}

