/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Button/Link Plugin

*/

body.app-djangocms_button_link {
    #container {
        background-color: $container-bg;
    }
    fieldset.module {
        padding: $fieldset-spacing !important;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Form modifications

*/

.button-link-plugin {

    .btn-container {
        padding: 15px;
        background-color: #efefef;
        border: 1px solid #ddd;
    }

    .btn {
        outline: 2px solid transparent;
    }

    .active {
        outline-color: #000;
        background-color: #fff;
    }

    // colors
    @each $key, $value in $btn-variations {
        .btn-#{$key} {
            display: inline-block;
            padding: 10px;
            > label {
                position: relative;
                background-color: map-deep-get($value,'bg') !important;
                color: map-deep-get($value,'color') !important;
                border-top-color: map-deep-get($value,'border-top-color') !important;
                border-right-color: map-deep-get($value,'border-right-color') !important;
                border-bottom-color: map-deep-get($value,'border-bottom-color') !important;
                border-left-color: map-deep-get($value,'border-left-color') !important;
                // add our padding
                padding: 0.4em 1em !important;
                margin: 0;
                &,
                &:link,
                &:visited {
                    color: map-deep-get($value,'color') !important;
                }
                &:hover,
                &:focus,
                &:focus:active,
                &:active,
                &:active:hover {
                    background-color: map-deep-get($value,'bg-hover') !important;
                    color: map-deep-get($value,'color-hover') !important;
                    border-top-color: map-deep-get($value,'border-top-color-hover') !important;
                    border-right-color: map-deep-get($value,'border-right-color-hover') !important;
                    border-bottom-color: map-deep-get($value,'border-bottom-color-hover') !important;
                    border-left-color: map-deep-get($value,'border-left-color-hover') !important;
                    outline: none; // not very good because of accessibility reasons, but the default style looks too ugly.
                }
            }
            input {
                position: absolute;
                left: -9999px;
                opacity: 0;
            }
        }
    }

    // sizes
    .btn-sm {
        > label {
            font-size: 10px;
        }
    }
    .btn-lg {
        > label {
            font-size: 22px;
        }
    }

}
