/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Button/Link Plugin

*/

body.app-allink_button_link {
    #container {
        background-color: $container-bg;
    }
    fieldset.module {
        padding: $fieldset-spacing !important;
    }
    &.popup {
        #content {
            form {
                padding: 0;
            }
        }
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Form modifications

*/

.button-link-plugin {

    .btn-container {
        padding: 15px;
        background-color: #fff;
        border: 1px solid #ddd;
        display: inline-block;
        width: 100%;
    }

    // hide all, and display only enabled variations later on
    .btn-item {
        display: none;
        float: left;
        padding: 10px;
        background-color: white;
        border: 2px solid transparent;
    }

    // the button sizes have to be displayed at all times
    .field-btn_size {
        .btn-item {
            display: block;
        }
    }

    .active {
        border-color: #000;
        background-color: #fff;
    }

    label {
        margin: 0;
    }

    // loop through button variations
    @each $key, $value in $btn-variations {
        .btn-#{$key} {
            position: relative;
            background-color: map-deep-get($value,'bg') !important;
            border-top-color: map-deep-get($value,'border-top-color') !important;
            border-right-color: map-deep-get($value,'border-right-color') !important;
            border-bottom-color: map-deep-get($value,'border-bottom-color') !important;
            border-left-color: map-deep-get($value,'border-left-color') !important;
            // add our padding
            padding: 0.4em 1em !important;
            margin: 0;
            line-height: 1.25 !important;
            &,
            &:link,
            &:visited {
                color: map-deep-get($value,'color') !important;
            }
            &:hover,
            &:focus,
            &:focus:active,
            &:active,
            &:active:hover {
                background-color: map-deep-get($value,'bg-hover') !important;
                color: map-deep-get($value,'color-hover') !important;
                border-top-color: map-deep-get($value,'border-top-color-hover') !important;
                border-right-color: map-deep-get($value,'border-right-color-hover') !important;
                border-bottom-color: map-deep-get($value,'border-bottom-color-hover') !important;
                border-left-color: map-deep-get($value,'border-left-color-hover') !important;
                outline: none; // not very good because of accessibility reasons, but the default style looks too ugly.
            }
            > label {
                color: map-deep-get($value,'color') !important;
            }
            input {
                position: absolute;
                left: -9999px;
                opacity: 0;
            }
        }
    }

    // Only display available button variations
    @each $btn-variation in $available-btn-variations {
        .btn-#{$btn-variation}-container {
            display: block;
        }
    }

    // sizes
    .btn-sm {
        > label {
            font-size: 10px;
            line-height: 1.25 !important;
        }
    }
    .btn-lg {
        > label {
            font-size: 22px;
            line-height: 1.25 !important;
        }
    }

}


.app-djangocms_button_link {
    .messagelist {
        display: none;
    }
    &.popup ul.messagelist {
        + #content {
            margin-top: 20px !important;
        }
    }
}
