/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Button/Link Plugin

*/

//Variables
$button-link-plugin-btn-container-background-color: #fff !default;
$button-link-plugin-btn-container-border-color: #ddd !default;
$button-link-plugin-btn-item-background-color: white !default;
$button-link-plugin-btn-item-border-color: transparent !default;
$button-link-plugin-active-border-color: #000 !default;
$button-link-plugin-active-background-color: #fff !default;

body.app-allink_button_link {
    #container {
        background-color: $container-bg;
    }

    fieldset.module {
        padding: $fieldset-spacing !important;
    }

    &.popup {
        #content {
            form {
                padding: 0;
            }
        }
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Form modifications

*/

.button-link-plugin {
    .btn-container {
        padding: 15px;
        background-color: $button-link-plugin-btn-container-background-color;
        border: 1px solid $button-link-plugin-btn-container-border-color;
        display: inline-block;
        width: 100%;

        .btn {
            margin: 0;
        }
    }

    // hide all, and display only enabled variations later on
    .btn-item {
        float: left;
        padding: 10px;
        background-color: $button-link-plugin-btn-item-background-color;
        border: 2px solid $button-link-plugin-btn-item-border-color;
    }

    // the button sizes have to be displayed at all times
    .field-btn_size {
        .btn-item {
            display: block;
        }
    }

    .field-type {
        ul,
        li {
            border: none !important;
            padding: 0 !important;
            margin: 0 !important;
        }

        li {
            padding: 10px 0 0 0 !important;
        }
    }

    .active {
        border-color: $button-link-plugin-active-border-color;
        background-color: $button-link-plugin-active-background-color;
    }

    label {
        margin: 0;
    }

    .aligned {
        .form-row {
            > div {
                @include media-breakpoint-down(md) {
                    display: block;
                    width: 100%;
                }
            }
        }
    }

    // loop through button variations
    @each $key, $value in $btn-variations {
        .btn-#{$key} {
            position: relative;
            background-color: map-deep-get($value, 'bg') !important;
            border-top-color: map-deep-get($value, 'border-top-color') !important;
            border-right-color: map-deep-get($value, 'border-right-color') !important;
            border-bottom-color: map-deep-get($value, 'border-bottom-color') !important;
            border-left-color: map-deep-get($value, 'border-left-color') !important;
            // add our padding
            padding: 0.4em 1em !important;
            margin: 0;
            line-height: 1.25 !important;

            &,
            &:link,
            &:visited {
                color: map-deep-get($value, 'color') !important;
            }

            &:hover,
            &:focus,
            &:focus:active,
            &:active,
            &:active:hover {
                background-color: map-deep-get($value, 'bg-hover') !important;
                color: map-deep-get($value, 'color-hover') !important;
                border-top-color: map-deep-get($value, 'border-top-color-hover') !important;
                border-right-color: map-deep-get($value, 'border-right-color-hover') !important;
                border-bottom-color: map-deep-get($value, 'border-bottom-color-hover') !important;
                border-left-color: map-deep-get($value, 'border-left-color-hover') !important;
                outline: none; // not very good because of accessibility reasons, but the default style looks too ugly.
            }

            > label {
                color: map-deep-get($value, 'color') !important;
            }

            input {
                position: absolute;
                left: -9999px;
                opacity: 0;
            }
        }
    }

    // sizes
    .btn-sm {
        > label {
            font-size: 10px;
            line-height: 1.25 !important;
        }
    }

    .btn-lg {
        > label {
            font-size: 22px;
            line-height: 1.25 !important;
        }
    }
}


.app-djangocms_button_link {
    .messagelist {
        display: none;
    }

    &.popup ul.messagelist {
        + #content {
            margin-top: 20px !important;
        }
    }
}
