.text-container,
.editor-body {
    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Images

    */

    img {
        max-width: 100%;
        height: auto;
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Spacing between elements

    */

    p,
    ul,
    ol,
    table,
    figure {
        @include fluid-size((min: $text-container-element-default-margin-bottom-min, max: $text-container-element-default-margin-bottom-max), margin-bottom);
        @include fluid-size((min: $text-container-element-default-margin-top-min, max: $text-container-element-default-margin-top-max), margin-top);
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Paragraphs

    */

    p {
        &.lead {
            @include font-lead();
            @include fluid-size((min: $p-lead-margin-bottom-min, max: $p-lead-margin-bottom-max), margin-bottom);
            @include fluid-size((min: $p-lead-margin-top-min, max: $p-lead-margin-top-max), margin-top);
        }

        &.small {
            @include font-small();
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Lists

    */

    ul,
    ol {
        padding: 0;

        li {
            list-style: none;
        }
    }

    ul {
        li {
            position: relative;
            padding-left: $unordered-list-item-padding;

            &::before {
                content: '';
                position: absolute;
                transform: translate(0, -50%);
                left: $unordered-list-item-icon-spacing-left;
                top: $unordered-list-item-icon-spacing-top;
                width: $unordered-list-item-icon-size;
                height: $unordered-list-item-icon-size;
                border-radius: $unordered-list-item-icon-border-radius;
                background-color: $unordered-list-item-icon-color;
            }
        }
    }

    ol {
        counter-reset: custom-counter;

        li {
            display: flex;
            padding-left: $ordered-list-item-padding;

            &::before {
                content: counter(custom-counter) '.';
                counter-increment: custom-counter;
                margin-right: $ordered-list-item-icon-spacing-left;
            }
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Headings

    */

    h1 {
        @include font-h1();
        // make sure that online styles are not stronger
        strong,
        em {
            @include font-h1();
        }

        @include fluid-size((min: $text-container-h1-margin-bottom-min, max: $text-container-h1-margin-bottom-max), margin-bottom);
        @include fluid-size((min: $text-container-h1-margin-top-min, max: $text-container-h1-margin-top-max), margin-top);

        a {
            &.text {
                @include font-h1();
            }
        }
    }

    h2 {
        @include font-h2();
        // make sure that online styles are not stronger
        strong,
        em {
            @include font-h2();
        }

        @include fluid-size((min: $text-container-h2-margin-bottom-min, max: $text-container-h2-margin-bottom-max), margin-bottom);
        @include fluid-size((min: $text-container-h2-margin-top-min, max: $text-container-h2-margin-top-max), margin-top);

        a {
            &.text {
                @include font-h2();
            }
        }
    }

    h3 {
        @include font-h3();
        // make sure that online styles are not stronger
        strong,
        em {
            @include font-h3();
        }

        @include fluid-size((min: $text-container-h3-margin-bottom-min, max: $text-container-h3-margin-bottom-max), margin-bottom);
        @include fluid-size((min: $text-container-h3-margin-top-min, max: $text-container-h3-margin-top-max), margin-top);
    }

    h4 {
        @include font-h4();
        // make sure that online styles are not stronger
        strong,
        em {
            @include font-h4();
        }

        @include fluid-size((min: $text-container-h4-margin-bottom-min, max: $text-container-h4-margin-bottom-max), margin-bottom);
        @include fluid-size((min: $text-container-h4-margin-top-min, max: $text-container-h4-margin-top-max), margin-top);
    }

    h5 {
        @include font-h5();
        // make sure that online styles are not stronger
        strong,
        em {
            @include font-h5();
        }

        @include fluid-size((min: $text-container-h5-margin-bottom-min, max: $text-container-h5-margin-bottom-max), margin-bottom);
        @include fluid-size((min: $text-container-h5-margin-top-min, max: $text-container-h5-margin-top-max), margin-top);
    }

    h6 {
        @include font-h6();
        // make sure that online styles are not stronger
        strong,
        em {
            @include font-h6();
        }

        @include fluid-size((min: $text-container-h6-margin-bottom-min, max: $text-container-h6-margin-bottom-max), margin-bottom);
        @include fluid-size((min: $text-container-h6-margin-top-min, max: $text-container-h6-margin-top-max), margin-top);
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    First/Last element, forcefully remove unnecessary spacing

    Hint: Should you need "that" extra spacing for some reason, then the .text-container
    is not the right parent for your case.

    */

    *:first-child { margin-top: 0 !important; }
    *:last-child { margin-bottom: 0 !important; }
}
