* {
    box-sizing: border-box;
    &:before,
    &:after {
        box-sizing: border-box;
    }
    // removes tap highlight on touch devices
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}

html{

    // basic setting
    &.base-root {
        position: relative;
        min-height: 100%;
    }

    // prevent scrolling when e.g. modal is opened
    &.nav-expanded,
    &.scrolling-disabled {
        overflow-y: hidden;
        overflow: hidden;
    }

}

body {
    background-color: $body-bg;
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Smooth scroll

The following guy is used for our smooth scroll offset calucation.

It has to be placed right after the `.site-header-buffer` in `base.html`

*/

.smooth-scroll-header-compact-mode-size {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 1px;
    @include set-site-header-compact-mode-height();
    // we're gonna assign the content section spacing as width (so we don't need an extra element, which is fallback friendly), and use this value to add a scroll offset on elements that do not have a padding-top
    width: $content-section-spacing-first-item-xs;
    @media (min-width: $screen-sm) {
        width: $content-section-spacing-first-item-sm;
    }
    @media (min-width: $screen-md) {
        width: $content-section-spacing-first-item-md;
    }
    @media (min-width: $screen-lg) {
        width: $content-section-spacing-first-item-lg;
    }
    @media (min-width: $screen-xl) {
        width: $content-section-spacing-first-item-xl;
    }
    @media (min-width: $screen-xxl) {
        width: $content-section-spacing-first-item-xxl;
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

When the mobile navigation is visible, all elements defined
in the sass-list will be hidden using a transition.

*/

@if variable-exists(nav-expanded-hide-container) {
    @each $selector in $nav-expanded-hide-container {
        #{$selector} {
            transition: $nav-expanded-hide-container-transition;
        }
        .nav-expanded {
            #{$selector} {
                opacity: 0;
            }
        }
    }
}
