// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_print.scss

/*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

// ==========================================================================
// Print styles.
// Inlined to avoid the additional HTTP request: h5bp.com/r
// ==========================================================================

//variables
$print-background-after: transparent !default;
$print-color-after: #000 !default;
$print-pre-border-color: #999 !default;
$print-btn-caret-border-top-color: #000 !default;
$print-label-border-color: #000 !default;
$print-table-th-background-color: #fff !default;
$print-table-bordered-border-color: #ddd !default;

@media print {
    *,
    *::before,
    *::after {
        background: $print-background-after !important;
        color: $print-color-after !important; // Black prints faster: h5bp.com/s
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]::after {
        content: " (" attr(href) ")";
    }

    abbr[title]::after {
        content: " (" attr(title) ")";
    }

    // Don't show links that are fragment identifiers,
    // or use the `javascript:` pseudo protocol
    a[href^="#"]::after,
    a[href^="javascript:"]::after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid $print-pre-border-color;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; // h5bp.com/t
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }

    // Bootstrap specific changes start

    // Bootstrap components
    .navbar {
        display: none;
    }

    .btn,
    .dropup > .btn {
        > .caret {
            border-top-color: $print-btn-caret-border-top-color !important;
        }
    }

    .label {
        border: 1px solid $print-label-border-color;
    }

    .table {
        border-collapse: collapse !important;

        td,
        th {
            background-color: $print-table-th-background-color !important;
        }
    }

    .table-bordered {
        th,
        td {
            border: 1px solid $print-table-bordered-border-color !important;
        }
    }

    // Bootstrap specific changes end
}
