// inspiration: https://codepen.io/devatrox/pen/wztlx
html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-content {
    /* flex: 1; would be enough but IE has different defaults (surprise!) */
    flex: 1 0 auto;
}
