/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

List View (this includes ALL plugin templates such as Grid (Static), Table, and co)

*/

.app-list {

    // fixes overlap issue with negativ margins (e.g. grid static followd by a button link container)
    position: relative;
    z-index: 1;
    + .content-plugin {
        position: relative;
        z-index: 2;
    }

    &__detail-link {
        @include button-base();
        @include button-variation($app-list-btn-variation);
        @if $app-list-btn-padding-enabled == false {
            padding: 0;
        }
        // Button Softpage
        &[data-softpage] {
            @include button-icon($icon:'plus');
        }
    }

    &__load-more-link {
        @include button-base();
        @include button-variation($app-list-load-more-btn-variation);
        @if $app-list-load-more-btn-padding-enabled == false {
            padding: 0;
        }
    }
    &__no-results {
        @include fluid-size((min: $app-list-no-result-cotainer-min-height-min, max: $app-list-no-result-cotainer-min-height-max), 'min-height');
    }
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Detail View

*/

.app-detail {

    // optionally: set max width of detail view
    .content-section__container {
        @if $app-detail-content-container-max-width-xs {
            max-width: $app-detail-content-container-max-width-xs !important;
        }
        @if $app-detail-content-container-max-width-xxl {
            @include media-breakpoint-up(xxl) {
                max-width: $app-detail-content-container-max-width-xxl !important;
            }
        }
        @if $app-detail-content-container-softpage-max-width-xs {
            .softpage & {
                max-width: $app-detail-content-container-softpage-max-width-xs !important;
            }
        }
        @if $app-detail-content-container-softpage-max-width-xxl {
            .softpage & {
                @include media-breakpoint-up(xxl) {
                    max-width: $app-detail-content-container-softpage-max-width-xxl !important;
                }
            }
        }
    }

    // within modal, add some spacing
    .tingle-modal & {
        @include app-detail-softpage-spacing();
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Header

    */

    &__header {
        @include app-detail-header-section-spacing($app-detail-header-section-spacing-property);
        // in case no preview image is set or no plugin has been added to the header section
        &--empty {
            margin: 0;
            // within softage
            .softpage & {
                display: none;
            }
        }
        // within softage
        .softpage & {
            margin-top: 0;
            padding-top: 0;
        }
    }

    &__header-col {
        @include media-breakpoint-up(xs) {
            @include make-col(24);
        }
    }

    &__section-heading-col {

    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Content Structure

    */

    &__content {
        padding-top: 0;
        margin-top: 0;
        // in case the content section is empty
        &--empty {
            display: none;
        }
    }

    &__col-container {
    }

    &__template__col-1 {
        .app-detail__col-1 {
            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }
        }
    }

    &__col {
    }

    // the actual container that holds the plugins
    &__content-container {
        // reset container padding, but leave it in case the content-section has a background image/video/color
        .content-section:not(.has-bg-image):not(.has-bg-video):not(.has-bg-color) {
            .content-section__container {
                padding: 0;
            }
        }
        // remove spacing for first content section
        .content-section {
            &.first {
                margin-top: 0;
                &:not(.has-bg-image):not(.has-bg-video):not(.has-bg-color) {
                    padding-top: 0;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Heading

    */

    &__heading-container {
        @include app-detail-heading-container-spacing-bottom();
    }

    &__heading {
        @include font-h2();
        @include media-breakpoint-up(xs) {
            @include make-col(24);
        }
    }

    &__created {
        @include media-breakpoint-up(xs) {
            @include make-col(24);
        }
        @include app-detail-created-spacing-top();
    }

    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Content

    */

    &__lead {
        @include font-lead();
        + .app-detail__content-container {
            @include app-detail-spacing-between-lead-and-content();
        }
    }

}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Items loaded with AJAX

*/

// default container
.ajax-items-container {

    // prepare immediate children of the container for the transition
    @include the-loader();
    &:before {
        opacity: 0;
        margin-top: 0;
        transition: $load-more-swop-category-transition-property $load-more-swop-category-transition-duration $load-more-swop-category-transition-timing-function;
        top: $load-more-swop-category-loader-spacing-top-xs;
        @include media-breakpoint-up(sm) {
            top: $load-more-swop-category-loader-spacing-top-sm;
        }
    }
    > * {
        opacity: 1;
        transition: $load-more-swop-category-transition-property $load-more-swop-category-transition-duration $load-more-swop-category-transition-timing-function;
    }
    // loading effect when switching category
    &.loading {
        // loader
        &:before {
            transition-delay: 0ms;
            opacity: 1;
        }
        // reveal any children
        > * {
            opacity: 0;
        }
    }

    // all appended items get the following class
    .appended {
        animation: fadeIn 400ms;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

The 'load more' container and button

*/

.load-more-container {
    clear: both;
    text-align: center;
    opacity: 1;
    transition: $load-more-swop-category-transition-property $load-more-swop-category-transition-duration $load-more-swop-category-transition-timing-function;
    // loading effect when switching category
    &.loading {
        opacity: 0;
    }
    @include spacings-size($load-more-container-spacing-top, margin-top);
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Filter Container

*/

.filter-container {
    & + * {
        @include spacings-size($filter-container-spacing-bottom, margin-top);
    }
}

.filter-container-inner {
    // define spacing to next element
    margin-top: -$grid-gutter-width/2;
    // define spacing between select boxes
    > * {
        width: auto !important;
        margin-top: $grid-gutter-width/2 !important;
        margin-right: $grid-gutter-width/2 !important;
    }
}
