/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

List View (this includes ALL plugin templates such as Grid (Static), Table, and co)

*/

.app-list {
    &__detail-link {
        @include button-base();
        @include button-variation($app-list-btn-variation);
        @if $app-list-btn-padding-enabled == false {
            padding: 0;
        }
    }

    &__load-more-link {
        @include button-base();
        @include button-variation($app-list-load-more-btn-variation);
        @if $app-list-load-more-btn-padding-enabled == false {
            padding: 0;
        }
    }
    &__no-results {
        min-height: $app-list-no-result-cotainer-min-height-xs;
        @media (min-width:$screen-md) {
            min-height: $app-list-no-result-cotainer-min-height-md;
        }
        @media (min-width:$screen-xxl) {
            min-height: $app-list-no-result-cotainer-min-height-xxl;
        }
    }
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Detail View

*/

.app-detail {

    // optionally: set max width of detail view
    .content-section__container {
        @if $app-detail-content-container-max-width-xs {
            max-width: $app-detail-content-container-max-width-xs !important;
        }
        @if $app-detail-content-container-max-width-xxl {
            @media (min-width:$screen-xxl) {
                max-width: $app-detail-content-container-max-width-xxl !important;
            }
        }
        @if $app-detail-content-container-softpage-max-width-xs {
            .softpage & {
                max-width: $app-detail-content-container-softpage-max-width-xs !important;
            }
        }
        @if $app-detail-content-container-softpage-max-width-xxl {
            .softpage & {
                @media (min-width:$screen-xxl) {
                    max-width: $app-detail-content-container-softpage-max-width-xxl !important;
                }
            }
        }
    }

    // within modal, add some spacing
    .tingle-modal & {
        @include app-detail-softpage-spacing();
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Header

    */

    &__header {
        @include app-detail-header-section-spacing($app-detail-header-section-spacing-property);
        // in case no preview image is set or no plugin has been added to the header section
        &--empty {
            margin: 0;
            // within softage
            .softpage & {
                display: none;
            }
        }
        // within softage
        .softpage & {
            margin-top: 0;
            padding-top: 0;
        }
    }

    &__header-col {
        @include make-xs-column(24);
        @include make-md-column(16);
    }

    &__section-heading-col {

    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Content Structure

    */

    &__content {
        padding-top: 0;
        margin-top: 0;
        // in case the content section is empty
        &--empty {
            display: none;
        }
    }

    &__col-container {
        @include make-row();
    }

    &__template__col-1 {
        .app-detail__col-1 {
            @include make-xs-column(24);
        }
    }

    &__template__col-2-1 {
        .app-detail__col-1 {
            @include make-xs-column(24);
            @include make-md-column(16);
        }
        .app-detail__col-2 {
            @include make-xs-column(24);
            @include make-md-column(8);
            @include make-spacing-top-sm-max($app-detail-col-stack-spacing-xs-max);
        }
    }

    &__col {
    }

    // the actual container that holds the plugins
    &__content-container {
        // reset container padding, but leave it in case the content-section has a background image/video/color
        .content-section:not(.has-bg-image):not(.has-bg-video):not(.has-bg-color) {
            .content-section__container {
                padding: 0;
            }
        }
        // remove spacing for first content section
        .content-section {
            &.first {
                margin-top: 0;
                &:not(.has-bg-image):not(.has-bg-video):not(.has-bg-color) {
                    padding-top: 0;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    // spacing between items in the 1. column (if not content sections)
    &__col-1-manage-spacings {
        > * {
            + * {
                @include make-spacing-top-xs($app-detail-col-1-manage-spacing-xs);
                @include make-spacing-top-sm($app-detail-col-1-manage-spacing-sm);
                @include make-spacing-top-md($app-detail-col-1-manage-spacing-md);
                @include make-spacing-top-lg($app-detail-col-1-manage-spacing-lg);
                @include make-spacing-top-xl($app-detail-col-1-manage-spacing-xl);
                @include make-spacing-top-xxl($app-detail-col-1-manage-spacing-xxl);
            }
        }
    }

    // spacing between items in the 2. column
    &__col-2-manage-spacings {
        > * {
            + * {
                @include make-spacing-top-xs($app-detail-col-2-manage-spacing-xs);
                @include make-spacing-top-sm($app-detail-col-2-manage-spacing-sm);
                @include make-spacing-top-md($app-detail-col-2-manage-spacing-md);
                @include make-spacing-top-lg($app-detail-col-2-manage-spacing-lg);
                @include make-spacing-top-xl($app-detail-col-2-manage-spacing-xl);
                @include make-spacing-top-xxl($app-detail-col-2-manage-spacing-xxl);
            }
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Heading

    */

    &__heading-container {
        @include make-row();
        @include app-detail-heading-container-spacing-bottom();
    }

    &__heading {
        @include font-h2();
        @include make-xs-column(24);
        @include make-md-column(16);
    }

    &__created {
        @include make-xs-column(24);
        @include app-detail-created-spacing-top();
    }

    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Content

    */

    &__lead {
        @include font-lead();
        + .app-detail__content-container {
            @include app-detail-spacing-between-lead-and-content();
        }
    }

}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Items loaded with AJAX

*/

// default container
.ajax-items-container {

    // prepare immediate children of the container for the transition
    @include the-loader();
    &:before {
        opacity: 0;
        margin-top: 0;
        transition: $load-more-swop-category-transition-property $load-more-swop-category-transition-duration $load-more-swop-category-transition-timing-function;
        top: $load-more-swop-category-loader-spacing-top-xs;
        @media (min-width:$screen-sm) {
            top: $load-more-swop-category-loader-spacing-top-sm;
        }
    }
    > * {
        opacity: 1;
        transition: $load-more-swop-category-transition-property $load-more-swop-category-transition-duration $load-more-swop-category-transition-timing-function;
    }
    // loading effect when switching category
    &.loading {
        // loader
        &:before {
            transition-delay: 0ms;
            opacity: 1;
        }
        // reveal any children
        > * {
            opacity: 0;
        }
    }

    // all appended items get the following class
    .appended {
        animation: fadeIn 400ms;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

The 'load more' container and button

*/

.load-more-container {
    clear: both;
    text-align: center;
    opacity: 1;
    transition: $load-more-swop-category-transition-property $load-more-swop-category-transition-duration $load-more-swop-category-transition-timing-function;
    // loading effect when switching category
    &.loading {
        opacity: 0;
    }
    @include make-spacing-top-xs($load-more-container-spacing-top-xs);
    @include make-spacing-top-md($load-more-container-spacing-top-md);
    @include make-spacing-top-xl($load-more-container-spacing-top-xl);
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Filter Container

*/

.filter-container {
    & + * {
        @include make-spacing-top-xs($filter-container-spacing-bottom-xs);
        @include make-spacing-top-md($filter-container-spacing-bottom-md);
        @include make-spacing-top-xl($filter-container-spacing-bottom-xl);
    }
}

.filter-container-inner {
    // define spacing to next element
    margin-top: -$grid-gutter-width/2;
    // define spacing between select boxes
    > * {
        width: auto !important;
        margin-top: $grid-gutter-width/2 !important;
        margin-right: $grid-gutter-width/2 !important;
    }
}
