// reusable mixins on the spot
@mixin main-col-container-positioning() {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;

    @include content-section-spacing-position('bottom');
    @include content-section-spacing-position('top');

    .content-section {
        &__container {
            display: flex;
            flex-grow: 1;
        }

        &__inner {
            display: flex;
            flex-grow: 1;
        }

        &__col-container {
            display: flex;
            flex-grow: 1;
        }

        &__col-container-inner {
            display: flex;
            flex-grow: 1;
            align-items: flex-end;
        }
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Default Content Section Styles

*/

.content-section {
    // in case a background image is set
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // default: using margin
    @include content-section-spacing-margin();

    .app-detail__content-container & {
        @include app-detail-content-section-spacing-margin();
    }

    // generate custom spacings for content-section ($spacings-sizes)
    @include generate-spacings();

    // special spacing: container has a background COLOR
    &.has-bg-color {
        margin-top: 0;
        margin-bottom: 0;

        @include content-section-spacing-padding();
        // within App Detail
        .app-detail__content-container & {
            @include app-detail-content-section-spacing-padding();
        }
    }

    // special spacing: container has a background IMAGE
    &.has-bg-image {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        position: relative;
        // default image ratio
        &:not(.full-height-enabled):not(.dynamic-height-enabled) {
            $content-section-bg-image-outer-ratio-container: 'content-section__bg-image-ratio';

            @include aspect-ratio($content-section-bg-image-outer-width-xs,$content-section-bg-image-outer-height-xs,$content-section-bg-image-outer-ratio-container);

            @include media-breakpoint-up(sm) {
                @include aspect-ratio($content-section-bg-image-outer-width-sm,$content-section-bg-image-outer-height-sm,$content-section-bg-image-outer-ratio-container);
            }

            @include media-breakpoint-up(md) {
                @include aspect-ratio($content-section-bg-image-outer-width-md,$content-section-bg-image-outer-height-md,$content-section-bg-image-outer-ratio-container);
            }

            @include media-breakpoint-up(lg) {
                @include aspect-ratio($content-section-bg-image-outer-width-lg,$content-section-bg-image-outer-height-lg,$content-section-bg-image-outer-ratio-container);
            }

            @include media-breakpoint-up(xl) {
                @include aspect-ratio($content-section-bg-image-outer-width-xl,$content-section-bg-image-outer-height-xl,$content-section-bg-image-outer-ratio-container);
            }

            @include media-breakpoint-up(xxl) {
                @include aspect-ratio($content-section-bg-image-outer-width-xxl,$content-section-bg-image-outer-height-xxl,$content-section-bg-image-outer-ratio-container);
            }
            // disable padding-bottom hack
            &::before {
                display: none;
            }

            .content-section__bg-image-ratio {
                position: static;
                height: 100%;
                min-height: $content-section-bg-image-outer-height-min;
                max-height: 100vh;

                @include media-breakpoint-up(md) {
                    min-height: $content-section-bg-image-outer-height-max;
                }

                picture {
                    position: static;
                    transform: none;
                    padding-bottom: 0 !important;
                    height: 100%;
                    width: 100%;

                    img {
                        object-fit: cover;
                        position: static;
                    }
                }
            }
        }

        .content-section__main-col-container {
            z-index: 10;

            @include main-col-container-positioning();
        }
        // in case the dynamic height options is enabled:
        &.dynamic-height-enabled {
            // re-add padding
            @include content-section-spacing-padding();
            // within App Detail
            .app-detail__content-container & {
                @include app-detail-content-section-spacing-padding();
            }
            // hide the ratio
            &::before {
                display: none;
            }
            // get the text in the flow
            .content-section__main-col-container {
                position: relative;
                top: auto;
                right: auto;
                bottom: auto;
                left: auto;
            }

            picture {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                width: auto !important;
                height: auto !important;
                transform: translate(-50%, -50%);
            }
        }
    }

    // per default, align section image vertically
    &__bg-image-outer {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;

        > picture.lazyloader {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
        }
    }

    // special spacing: container has a background VIDEO
    &.has-bg-video {
        margin: 0;
        padding: 0;

        &:first-child,
        &:last-child {
            padding: 0;
        }

        .content-section__main-col-container {
            @include main-col-container-positioning();
        }
    }

    // the background color variations and manage spacing
    &.has-bg-color {
        @each $nr, $color in $project-colors {
            &.project-color-#{$nr} {
                background-color: $color;
                & + .project-color-#{$nr} {
                    padding-top: 0;
                }
            }
        }
    }

    // global container settings
    &.container-enabled {
        .content-section__container {
            @include make-container();
            @include max-width();
        }
    }

    &__col-container-inner {
        @include make-row();
    }

    &__col {
        @include make-col-ready();
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Default Text Container

    */

    // container
    &__main-text-container {
        position: relative;
        z-index: 10;
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Inverted colors

    */

    &.inverted-colors-enabled {
        // overwrite global text color
        color: $overlay-text-color;
        // overwrite sections color
        .content-section__section-heading {
            color: $overlay-heading-color;
        }
        // make sure all kids of a text-container get the right color
        .text-container {
            > * {
                color: $overlay-text-color;
            }
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Overlay Enabled

    */

    &.overlay-enabled {
        position: relative;
    }

    // element only exists, if an OUTER background image has been defined
    &__outer-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;

        @include gradient-overlay($content-section-outer-overlay-gradient-height-xs);

        @include media-breakpoint-up(sm) {
            @include gradient-overlay($content-section-outer-overlay-gradient-height-sm);
        }

        @include media-breakpoint-up(md) {
            @include gradient-overlay($content-section-outer-overlay-gradient-height-md);
        }

        @include media-breakpoint-up(lg) {
            @include gradient-overlay($content-section-outer-overlay-gradient-height-lg);
        }

        @include media-breakpoint-up(xl) {
            @include gradient-overlay($content-section-outer-overlay-gradient-height-xl);
        }

        @include media-breakpoint-up(xxl) {
            @include gradient-overlay($content-section-outer-overlay-gradient-height-xxl);
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Background Video

    */

    &.has-bg-video {
        position: relative;

        // default: display the video proportionally
        .content-section__video-container {
            .the-video {
                display: none;

                @include media-breakpoint-up(md) {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }

        .content-section__main-col-container {
            @include main-col-container-positioning();

            z-index: 10;
        }

        // mobile fallback
        .content-section__video-mobile-image {
            overflow: hidden;

            @include media-breakpoint-up(md) {
                display: none;
            }
        }

        // full height: center video in full height mode
        &.full-height-enabled {
            position: relative;
            width: 100%;

            .content-section__video-container {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: hidden;

                .the-video {
                    @include media-breakpoint-up(md) {
                        .objectfit & {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            transform: none;
                        }
                        // fallback
                        .no-objectfit & {
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            min-width: 100%;
                            min-height: 100%;
                            width: auto;
                            height: auto;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
            }

            .content-section__video-mobile-image {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Within Modal

    */

    // reset container max-width within modal
    .tingle-modal & {
        .content-section__container {
            max-width: none;
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    FLEXBOX Time!

    */

    // Mobile Column Ordering.. Flexbox to the rescue!
    // Note: Currently only up to 3 colum templates are supported
    @include media-breakpoint-down(sm) {
        // ordering
        .col-order-mobile-0 { order: 0; }
        .col-order-mobile-1 { order: 1; }
        .col-order-mobile-2 { order: 2; }
        .col-order-mobile-3 { order: 3; }
    }

    // vertical alignment
    @include media-breakpoint-up(md) {
        .align-v-desktop-top { align-self: flex-start; }
        .align-v-desktop-middle { align-self: center; }
        .align-v-desktop-bottom { align-self: flex-end; }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Column Definitions

    */

    // on small screens, we don't want empty columns to be displayed
    .col-empty {
        @include media-breakpoint-down(sm) {
            display: none;
        }
    }

    &__template__col-1 {
        .content-section__col {
            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }
        }
    }

    &__template__col-1-1 {
        @include content-plugin-col-mobile-flexbox();
        @include content-plugin-col-mobile-flexbox-spacing-fix();

        .content-section__col {
            @include media-breakpoint-down(sm) {
                @include spacings-size($content-section-col-stack-spacing, margin-top);
            }

            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }

            @include media-breakpoint-up(md) {
                @include make-col(12);
            }
        }
    }

    &__template__col-2-1 {
        @include content-plugin-col-mobile-flexbox();
        @include content-plugin-col-mobile-flexbox-spacing-fix();

        .content-section__col {
            @include media-breakpoint-down(sm) {
                @include spacings-size($content-section-col-stack-spacing, margin-top);
            }
        }

        .content-section__col-1 {
            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }

            @include media-breakpoint-up(md) {
                @include make-col(12);
            }

            @include media-breakpoint-up(lg) {
                @include make-col(16);
            }
        }

        .content-section__col-2 {
            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }

            @include media-breakpoint-up(md) {
                @include make-col(12);
            }

            @include media-breakpoint-up(lg) {
                @include make-col(8);
            }
        }
    }

    &__template__col-1-2 {
        @include content-plugin-col-mobile-flexbox();
        @include content-plugin-col-mobile-flexbox-spacing-fix();

        .content-section__col {
            @include media-breakpoint-down(sm) {
                @include spacings-size($content-section-col-stack-spacing, margin-top);
            }
        }

        .content-section__col-1 {
            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }

            @include media-breakpoint-up(md) {
                @include make-col(12);
            }

            @include media-breakpoint-up(lg) {
                @include make-col(8);
            }
        }

        .content-section__col-2 {
            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }

            @include media-breakpoint-up(md) {
                @include make-col(12);
            }

            @include media-breakpoint-up(lg) {
                @include make-col(16);
            }
        }
    }

    &__template__col-3 {
        @include content-plugin-col-mobile-flexbox($flex-bp: breakpoint-max(xs));
        @include content-plugin-col-mobile-flexbox-spacing-fix($flex-bp: breakpoint-max(sm));

        .content-section__col {
            @include media-breakpoint-down(sm) {
                @include spacings-size($content-section-col-stack-spacing, margin-top);
            }

            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }

            @include media-breakpoint-up(md) {
                @include make-col(8);
            }
        }
    }

    &__template__col-4 {
        // equalizes the margin bottom of the columns
        @include content-plugin-stacked-col-container-negative-spacing();

        .content-section__col {
            // add margin bottom to all columns
            @include content-plugin-stacked-col-spacing();

            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }

            @include media-breakpoint-up(sm) {
                @include make-col(12);
            }

            @include media-breakpoint-up(md) {
                @include make-col(6);
            }
        }
    }

    // spacings between plugins within a columns
    &__column-manage-spacings {
        & > * {
            @include spacings-size($content-section-column-manage-spacings-container, margin-top);

            &:first-child {
                margin-top: 0;
            }
        }
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Section Headings

*/

// global section heading definitions
.content-section__section-heading-container {
    @include clearfix();
    // spacing to next element
    & + * {
        @include spacings-size($content-section-heading-spacing, margin-top);
    }
}

.content-section__section-heading {
    // default
    @include font-h1();
    // h1
    .section-heading-h1 & {
        @include font-h1();
    }
    // h2
    .section-heading-h2 & {
        @include font-h2();
    }
    // h3
    .section-heading-h3 & {
        @include font-h3();
    }
    // prevent the section heading from being too wide. make it 2/3
    @include media-breakpoint-up(md) {
        max-width: 66.66%;
        // reset max-width in context of an app detail template
        .app-detail__content & {
            max-width: none;
        }
    }
}
