// reusable mixins on the spot
@mixin main-col-container-positioning() {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    @include content-section-spacing-position('bottom');
    @include content-section-spacing-position('top');

    .content-section {
        &__container {
            display: flex;
            flex-grow: 1;
        }
        &__inner {
            display: flex;
            flex-grow: 1;
        }
        &__col-container {
            display: flex;
            flex-grow: 1;
        }
        &__col-container-inner {
            display: flex;
            flex-grow: 1;
            align-items: flex-end;
        }
    }

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Default Content Section Styles

*/

.content-section {

    // in case a background image is set
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    // default: using margin
    @include content-section-spacing-margin();
    .app-detail__content-container & {
        @include app-detail-content-section-spacing-margin();
    }

    // first section
    &.first {
        margin-top: 0;
        @include content-section-first($property: 'padding-top');
    }

    // last
    &:last-child {
        margin-bottom: 0;
        @include content-section-last($property: 'padding-bottom');
    }

    // special spacing: container has a background COLOR
    &.has-bg-color {
        margin-top: 0;
        margin-bottom: 0;
        @include content-section-spacing-padding();
        // within App Detail
        .app-detail__content-container & {
            @include app-detail-content-section-spacing-padding();
        }
    }

    // special spacing: container has a background IMAGE
    &.has-bg-image {
        margin-top: 0;
        margin-bottom: 0;
        padding-top: 0;
        padding-bottom: 0;
        overflow: hidden;
        position: relative;
        // default image ratio
        &:not(.full-height-enabled):not(.dynamic-height-enabled) {
            $content-section-bg-image-outer-ratio-container: 'content-section__bg-image-ratio';
            @include aspect-ratio($content-section-bg-image-outer-width-xs,$content-section-bg-image-outer-height-xs,$content-section-bg-image-outer-ratio-container);
            @media (min-width:$screen-sm) {
                @include aspect-ratio($content-section-bg-image-outer-width-sm,$content-section-bg-image-outer-height-sm,$content-section-bg-image-outer-ratio-container);
            }
            @media (min-width:$screen-md) {
                @include aspect-ratio($content-section-bg-image-outer-width-md,$content-section-bg-image-outer-height-md,$content-section-bg-image-outer-ratio-container);
            }
            @media (min-width:$screen-lg) {
                @include aspect-ratio($content-section-bg-image-outer-width-lg,$content-section-bg-image-outer-height-lg,$content-section-bg-image-outer-ratio-container);
            }
            @media (min-width:$screen-xl) {
                @include aspect-ratio($content-section-bg-image-outer-width-xl,$content-section-bg-image-outer-height-xl,$content-section-bg-image-outer-ratio-container);
            }
            @media (min-width:$screen-xxl) {
                @include aspect-ratio($content-section-bg-image-outer-width-xxl,$content-section-bg-image-outer-height-xxl,$content-section-bg-image-outer-ratio-container);
            }
        }
        .content-section__main-col-container {
            z-index: 10;
            @include main-col-container-positioning();
        }
        // in case the dynamic height options is enabled:
        &.dynamic-height-enabled {
            // re-add padding
            @include content-section-spacing-padding();
            // within App Detail
            .app-detail__content-container & {
                @include app-detail-content-section-spacing-padding();
            }
            // hide the ratio
            &:before {
                display: none;
            }
            // get the text in the flow
            .content-section__main-col-container {
                position: relative;
                top: auto;
                right: auto;
                bottom: auto;
                left: auto;
            }
            picture {
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                min-width: 100%;
                min-height: 100%;
                width: auto !important;
                height: auto !important;
                transform: translate(-50%,-50%);
            }
        }
    }

    // per default, align section image vertically
    &__bg-image-outer {
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        > picture.lazyloader {
            position: absolute;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);
        }
    }

    // special spacing: container has a background VIDEO
    &.has-bg-video {
        margin: 0;
        padding: 0;
        &:first-child,
        &:last-child {
            padding: 0;
        }
        .content-section__main-col-container {
            @include main-col-container-positioning();
        }
    }

    // the background color variations and manage spacing
    &.has-bg-color {
        @each $nr, $color in $project-colors {
            &.project-color-#{$nr} {
                background-color: $color;
                & + .project-color-#{$nr} {
                    padding-top: 0;
                }
            }

        }
    }

    // global container settings
    &.container-enabled {
        .content-section__container {
            @include container-fixed();
            @include max-width();
        }
    }

    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Options (via checkboxes or generated by conditions)

    */

    &.container-enabled {
        .content-section__inner {
            @include make-row();
            // on XS we have a smaller column padding
            @include make-row-sm-max();
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Default Text Container

    */

    // container
    &__main-text-container {
        position: relative;
        z-index: 10;
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Parallax

    */

    &.parallax-enabled {
        overflow: hidden;
        position: relative;
        padding: 0;
        // define ratio
        &:not(.full-height-enabled):not(.dynamic-height-enabled) {
            $parallax-ratio-container: 'content-section__bg-image-ratio';
            @include aspect-ratio($parallax-aspect-ratio-width-xs,$parallax-aspect-ratio-height-xs,$parallax-ratio-container);
            @media (min-width:$screen-sm) {
                @include aspect-ratio($parallax-aspect-ratio-width-sm,$parallax-aspect-ratio-height-sm,$parallax-ratio-container);
            }
            @media (min-width:$screen-md) {
                @include aspect-ratio($parallax-aspect-ratio-width-md,$parallax-aspect-ratio-height-md,$parallax-ratio-container);
            }
            @media (min-width:$screen-lg) {
                @include aspect-ratio($parallax-aspect-ratio-width-lg,$parallax-aspect-ratio-height-lg,$parallax-ratio-container);
            }
            @media (min-width:$screen-xl) {
                @include aspect-ratio($parallax-aspect-ratio-width-xl,$parallax-aspect-ratio-height-xl,$parallax-ratio-container);
            }
            @media (min-width:$screen-xxl) {
                @include aspect-ratio($parallax-aspect-ratio-width-xxl,$parallax-aspect-ratio-height-xxl,$parallax-ratio-container);
            }
        }
        .content-section__bg-image-outer {
            position: relative;
            picture {
                top: auto;
                transform: none;
            }
        }
        &.full-height-enabled {
            .content-section__bg-image-outer {
                .no-objectfit & {
                    transform: translateY(-50%);
                }
            }
        }
        .content-section__main-col-container {
            @include main-col-container-positioning();
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Inverted colors

    */

    &.inverted-colors-enabled {
        // overwrite global text color
        color: $overlay-text-color;
        // overwrite sections color
        .content-section__section-heading {
            color: $overlay-heading-color;
        }
        // make sure all kids of a text-container get the right color
        .text-container {
            > * {
                color: $overlay-text-color;
            }
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Overlay Enabled

    */

    &.overlay-enabled {
        position: relative;
    }

    // element only exists, if an OUTER background image has been defined
    &__outer-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 5;
        @include gradient-overlay($content-section-outer-overlay-gradient-height-xs);
        @media (min-width:$screen-sm) {
            @include gradient-overlay($content-section-outer-overlay-gradient-height-sm);
        }
        @media (min-width:$screen-md) {
            @include gradient-overlay($content-section-outer-overlay-gradient-height-md);
        }
        @media (min-width:$screen-lg) {
            @include gradient-overlay($content-section-outer-overlay-gradient-height-lg);
        }
        @media (min-width:$screen-xl) {
            @include gradient-overlay($content-section-outer-overlay-gradient-height-xl);
        }
        @media (min-width:$screen-xxl) {
            @include gradient-overlay($content-section-outer-overlay-gradient-height-xxl);
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    INNER container background image

    */

    &.inner-container-has-bg-image {
        .content-section__inner {
            margin: 0;
            position: relative;
        }
        .content_section__bg-image-inner {
            position: relative;
            z-index: 1;
        }
        .content-section__inner-overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 5;
            @include gradient-overlay($content-section-bg-image-inner-overlay-gradient-height-xs);
            @media (min-width:$screen-sm) {
                @include gradient-overlay($content-section-bg-image-inner-overlay-gradient-height-sm);
            }
            @media (min-width:$screen-md) {
                @include gradient-overlay($content-section-bg-image-inner-overlay-gradient-height-md);
            }
            @media (min-width:$screen-lg) {
                @include gradient-overlay($content-section-bg-image-inner-overlay-gradient-height-lg);
            }
            @media (min-width:$screen-xl) {
                @include gradient-overlay($content-section-bg-image-inner-overlay-gradient-height-xl);
            }
            @media (min-width:$screen-xxl) {
                @include gradient-overlay($content-section-bg-image-inner-overlay-gradient-height-xxl);
            }
        }
        .content-section__main-text-container {
            @media (min-width:$screen-md) {
                position: absolute;
                @include content-section-spacing-position(bottom);
                @include content-section-spacing-position(left);
                @include content-section-spacing-position(right);
            }
        }
        // reset overlay spacings and colors on mobile
        @media (max-width:$screen-sm-max) {
            // specificy wars.. damn it..
            .content-section__col-container {
                .content-section__col-container-inner {
                    .content-section__col {
                        padding-left: 0 !important;
                        padding-right: 0 !important;
                        &.col-order-mobile-0 {
                            margin-top: $content-section-heading-spacing-xs;
                        }
                    }
                }
            }
            // reset heading padding
            .content-section__section-heading {
                padding-left: 0 !important;
                padding-right: 0 !important;
            }
            // let's pretend we're in a manage-spacings context
            .content-section__main-text-container {
                @include make-spacing-top-xs($manage-spacings-container-xs);
                @include make-spacing-top-md($manage-spacings-container-md);
                @include make-spacing-top-xl($manage-spacings-container-xl);
            }
            &.section-heading-h1 {
                .content-section__section-heading {
                    color: $h1-color;
                }
            }
            &.section-heading-h2 {
                .content-section__section-heading {
                    color: $h2-color;
                }
            }
            &.section-heading-h3 {
                .content-section__section-heading {
                    color: $h3-color;
                }
            }
            .text-container {
                > * {
                    color: $body-color;
                }
            }
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Background Video

    */

    &.has-bg-video {
        position: relative;

        // default: display the video proportionally
        .content-section__video-container {
            .the-video {
                display: none;
                @media (min-width: $screen-md ) {
                    display: block;
                    width: 100%;
                    height: auto;
                }
            }
        }

        .content-section__main-col-container {
            @include main-col-container-positioning();
            z-index: 10;
        }

        // mobile fallback
        .content-section__video-mobile-image {
            overflow: hidden;
            @media (min-width:$screen-md) {
                display: none;
            }
        }

        // full height: center video in full height mode
        &.full-height-enabled {
            position: relative;
            width: 100%;
            .content-section__video-container {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                overflow: hidden;
                .the-video {
                    @media (min-width: $screen-md ) {
                        .objectfit & {
                            object-fit: cover;
                            width: 100%;
                            height: 100%;
                            transform: none;
                        }
                        // fallback
                        .no-objectfit & {
                            display: block;
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            min-width: 100%;
                            min-height: 100%;
                            width: auto;
                            height: auto;
                            transform: translate(-50%,-50%);
                        }
                    }
                }
            }
            .content-section__video-mobile-image {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }

    }

    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Full height

    */

    &.full-height-enabled {
        position: relative;

        .content-section__video-mobile-image {
            .objectfit & {
                picture,
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    transform: none;
                }
            }
            // fallback
            .no-objectfit & {
                picture {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: translate(0,-50%);
                    > img {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        min-width: 100%;
                        min-height: 100%;
                        width: auto !important;
                        height: auto !important;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }

        .content-section__bg-image-outer {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            .objectfit & {
                picture {
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    padding-bottom: 0 !important;
                }
                picture,
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    transform: none;
                }
            }
            // fallback
            .no-objectfit & {
                picture {
                    position: absolute;
                    top: 50%;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    transform: translate(0,-50%);
                    @media (max-width:$screen-sm-max) {
                        height: $parallax-full-height-mobile-height;
                    }
                    > img {
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        min-width: 100%;
                        min-height: 100%;
                        width: auto !important;
                        height: auto !important;
                        transform: translate(-50%,-50%);
                    }
                }
            }
        }

        // set height
        @if $site-header-fixed-use-buffer == true and $site-header-fixed-enabled == true {
            min-height: calc(100vh - #{$site-header-height-xs});
            @media (min-width:$screen-md) {
                min-height: calc(100vh - #{$site-header-height-md});
            }
            @media (min-width:$screen-xl) {
                min-height: calc(100vh - #{$site-header-height-xl});
            }
            @media (min-width:$screen-xxl) {
                min-height: calc(100vh - #{$site-header-height-xxl});
            }
        }
        // fallback
        @else {
            min-height: 100vh;
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Within Modal

    */

    // reset container max-width within modal
    .tingle-modal & {
        .content-section__container {
            max-width: none;
        }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    FLEXBOX Time!

    */

    .content-section__col-container-inner {
        display: flex;
        flex-wrap: wrap;
    }

    // Mobile Column Ordering.. Flexbox to the rescue!
    // Note: Currently only up to 3 colum templates are supported
    @media (max-width:$screen-sm-max) {
        // ordering
        .col-order-mobile-0 { order: 0; }
        .col-order-mobile-1 { order: 1; }
        .col-order-mobile-2 { order: 2; }
        .col-order-mobile-3 { order: 3; }
    }

    // vertical alignment
    @media (min-width:$screen-md) {
        .align-v-desktop-top {  align-self: flex-start; }
        .align-v-desktop-middle {  align-self: center; }
        .align-v-desktop-bottom {  align-self: flex-end; }
    }


    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Column Definitions

    */

    // on small screens, we don't want empty columns to be displayed
    .col-empty {
        @media (max-width:$screen-sm-max) {
            display: none;
        }
    }

    .content-section__col-container {
        @include clearfix();
    }

    &__template__col-1 {
        // overflow: hidden; // The negativ margin of the make-row() mixin causes the content to overflow. Let's hide it.
        .content-section__col {
            @include make-xs-column(24);
            position: static;
        }
    }

    &__template__col-1-1 {
        @include content-plugin-col-mobile-flexbox();
        @include content-plugin-col-mobile-flexbox-spacing-fix();
        .content-section__col {
            @include make-spacing-top-sm-max($content-section-col-stack-spacing-sm-max);
            @include make-xs-column(24);
            @include make-md-column(12);
            position: static;
        }
    }

    &__template__col-2-1 {
        @include content-plugin-col-mobile-flexbox();
        @include content-plugin-col-mobile-flexbox-spacing-fix();
        .content-section__col {
            @include make-spacing-top-sm-max($content-section-col-stack-spacing-sm-max);
        }
        .content-section__col-1 {
            @include make-xs-column(24);
            @include make-md-column(12);
            @include make-lg-column(16);
            position: static;
        }
        .content-section__col-2 {
            @include make-xs-column(24);
            @include make-md-column(12);
            @include make-lg-column(8);
            position: static;
        }
    }

    &__template__col-1-2 {
        @include content-plugin-col-mobile-flexbox();
        @include content-plugin-col-mobile-flexbox-spacing-fix();
        .content-section__col {
            @include make-spacing-top-sm-max($content-section-col-stack-spacing-sm-max);
        }
        .content-section__col-1 {
            @include make-xs-column(24);
            @include make-md-column(12);
            @include make-lg-column(8);
            position: static;
        }
        .content-section__col-2 {
            @include make-xs-column(24);
            @include make-md-column(12);
            @include make-lg-column(16);
            position: static;
        }
    }

    &__template__col-3 {
        @include content-plugin-col-mobile-flexbox($flex-bp: $screen-xs-max);
        @include content-plugin-col-mobile-flexbox-spacing-fix($flex-bp: $screen-sm-max);
        .content-section__col {
            @include make-xs-column(24);
            @include make-sm-column(12);
            @include make-md-column(8);
            position: static;
            @include make-spacing-top-sm-max($content-section-col-stack-spacing-sm-max);
        }
    }

    &__template__col-4 {
        // equalizes the margin bottom of the columns
        @include content-plugin-stacked-col-container-negative-spacing();
        .content-section__col {
            // temporarily reset column ordering until
            order: 0;
            // add margin bottom to all columns
            @include content-plugin-stacked-col-spacing();
            @include make-xs-column(24);
            @include make-sm-column(12);
            @media (min-width:$screen-sm) {
                &:nth-child(2n+1) { clear: left; }
            }
            @include make-md-column(6);
            @media (min-width:$screen-md) {
                &:nth-child(2n+1) { clear: none; }
                &:nth-child(4n+1) { clear: left; }
            }
            position: static;
        }
    }

    &__template__col-5 {
        // equalizes the margin bottom of the columns
        @include content-plugin-stacked-col-container-negative-spacing();
        .content-section__col {
            // temporarily reset column ordering until
            order: 0;
            // add margin bottom to all columns
            @include content-plugin-stacked-col-spacing();
            @include make-xs-column(12);
            @media (min-width:$screen-xs) {
                &:nth-child(2n+1) { clear: left; }
            }
            @include make-sm-column(8);
            @media (min-width:$screen-sm) {
                &:nth-child(2n+1) { clear: none; }
                &:nth-child(3n+1) { clear: left; }
            }
            @include make-md-column(6);
            @media (min-width:$screen-md) {
                &:nth-child(3n+1) { clear: none; }
                &:nth-child(4n+1) { clear: left; }
            }
            @media (min-width:$screen-lg) {
                width: 20%;
                &:nth-child(4n+1) { clear: none; }
                &:nth-child(5n+1) { clear: left; }
            }
            position: static;
        }
    }

    &__template__col-6 {
        // equalizes the margin bottom of the columns
        @include content-plugin-stacked-col-container-negative-spacing();
        .content-section__col {
            // temporarily reset column ordering until
            order: 0;
            // add margin bottom to all columns
            @include content-plugin-stacked-col-spacing();
            @include make-xs-column(12);
            @media (min-width:$screen-xs) {
                &:nth-child(2n+1) { clear: left; }
            }
            @include make-sm-column(8);
            @media (min-width:$screen-sm) {
                &:nth-child(2n+1) { clear: none; }
                &:nth-child(3n+1) { clear: left; }
            }
            @include make-md-column(4);
            @media (min-width:$screen-md) {
                &:nth-child(3n+1) { clear: none; }
                &:nth-child(6n+1) { clear: left; }
            }
            @include make-lg-column(4);
            @media (min-width:$screen-lg) {
                &:nth-child(3n+1) { clear: none; }
                &:nth-child(6n+1) { clear: left; }
            }
            position: static;
        }
    }

    // add smaller columns on XS (big ass selector, but we have to fight the specifcy war in order to avoid an !important). The only alternative would be to add this mixin to all columns, which wouldn't be pretty either.
    &__main-col-container {
        .content-section__col-container {
            .content-section__col {
                @include column-padding-sm-max();
            }
        }
    }

    // spacings between plugins within a columns
    &__column-manage-spacings {
        & > * {
            @include make-spacing-top-xs($content-section-column-manage-spacings-container-xs);
            @include make-spacing-top-sm($content-section-column-manage-spacings-container-sm);
            @include make-spacing-top-md($content-section-column-manage-spacings-container-md);
            @include make-spacing-top-lg($content-section-column-manage-spacings-container-lg);
            @include make-spacing-top-xl($content-section-column-manage-spacings-container-xl);
            @include make-spacing-top-xxl($content-section-column-manage-spacings-container-xxl);
            &:first-child {
                margin-top: 0;
            }
        }
    }

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Section Headings

*/

// global section heading definitions
.content-section__section-heading-container {
    @include clearfix();
    // spacing to next element
    & + * {
        @include make-spacing-top-xs($content-section-heading-spacing-xs);
        @include make-spacing-top-md($content-section-heading-spacing-md);
        @include make-spacing-top-xl($content-section-heading-spacing-xl);
    }
}

.content-section__section-heading {
    // section heading of a 'content section' entry needs extra padding, because the columns themselves have the column-padding
    @include column-paddings();
    @include column-padding-sm-max();
    // default
    @include font-h1();
    // h1
    .section-heading-h1 & {
        @include font-h1();
    }
    // h2
    .section-heading-h2 & {
        @include font-h2();
    }
    // h3
    .section-heading-h3 & {
        @include font-h3();
    }
    // prevent the section heading from being too wide. make it 2/3
    @media (min-width:$screen-md) {
        max-width: 66.66%;
        // reset max-width in context of an app detail template
        .app-detail__content & {
            max-width: none;
        }
    }
}
