.styleguide-section {
    .content-section__container {
        @include container-fixed();
        @include max-width();
        @media (min-width:$screen-lg) {
            max-width: 60%;
        }
    }
    .content-section__section-heading {
        padding: 0;
    }
}

.tpl-styleguide {
    .btn-section {
        .btn-group {
            & + .btn-group {
                @include make-spacing-top-xs($grid-gutter-width);
            }
            .btn {
                margin-right: $grid-gutter-width/4;
                margin-bottom: $grid-gutter-width/4;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .heading-container {
        .heading {
            @include font-h2();
        }
    }
}
