/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

404 Template

*/

$template-404-btn-variation:         'default';
$template-404-min-height-min:        0rem;
$template-404-min-height-max:        31.25rem;
