/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

404 Template

*/

$template-404-min-height-xs:        0;
$template-404-min-height-sm:        500px;
$template-404-min-height-md:        500px;
$template-404-min-height-xl:        500px;
$template-404-min-height-xxl:       500px;
