/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

=Body

*/

$body-bg:                   $white; // background
$body-color:                $black; // text
$body-color-print:          $black;

// inverted text on dark background
$body-inverted-color:         $white;
