/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

=Branding

Important: The values are closely linked to the header height.

*/

$brand-logo-color:                             $black;
$brand-logo-overlay-color:                     $white;

$brand-logo-height-min:                        1.875rem;
$brand-logo-height-max:                        3.75rem;

// COMPACT MODE - Requires the following:
// 1. The '.site-header' element needs an extra class '.compact-mode-enabled' to trigger the compact header using JavaScript
// 2. '$site-header-compact-mode-enabled' has to be set to 'true'
$brand-logo-compact-mode-scale-md:            0.8;
$brand-logo-compact-mode-scale-lg:            0.8;
$brand-logo-compact-mode-scale-xl:            0.8;
$brand-logo-compact-mode-scale-xxl:           0.8;
