/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

content =section '.content-section'

VERTICAL spacings of plugin content within '.site-content'

*/

// global spacing between the .content-section
$content-section-spacing:      'spacing-scale-2'; // spacings-size or fixed value

// Content Plugin > spacing between STACKED COLUMNS (smaller screens)
$content-section-col-stack-spacing:         'spacing-gutter-width';  // spacings-size or fixed value

// Content Plugin > For template above >=3 colums
// We have to define the spacing when stacked
$content-plugin-stacked-col-spacing:        'spacing-gutter-width';  // spacings-size or fixed value

// Content Plugin > spacing between SECTION HEADING and the columns
$content-section-heading-spacing:           'spacing-gutter-width';  // spacings-size or fixed value

// Spacings between plugins within a columns
$content-section-column-manage-spacings-container:          'spacing-scale-5'; // spacings-size or fixed value


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Section bg image (=outer)

===

Important: The following ratios are closely linked to the THUMBNAIL_WIDTH_ALIASES in settings.py.

*/

$content-section-bg-image-outer-width-xs:                     1;
$content-section-bg-image-outer-height-xs:                    1;

$content-section-bg-image-outer-width-sm:                     1;
$content-section-bg-image-outer-height-sm:                    1;

$content-section-bg-image-outer-width-md:                     16;
$content-section-bg-image-outer-height-md:                    6;

$content-section-bg-image-outer-width-lg:                     16;
$content-section-bg-image-outer-height-lg:                    6;

$content-section-bg-image-outer-width-xl:                     16;
$content-section-bg-image-outer-height-xl:                    6;

$content-section-bg-image-outer-width-xxl:                    16;
$content-section-bg-image-outer-height-xxl:                   6;

// bg image OUTER - overlay gradient (percentage values recommended)
$content-section-outer-overlay-gradient-height-xs:            66%;
$content-section-outer-overlay-gradient-height-sm:            66%;
$content-section-outer-overlay-gradient-height-md:            66%;
$content-section-outer-overlay-gradient-height-lg:            66%;
$content-section-outer-overlay-gradient-height-xl:            66%;
$content-section-outer-overlay-gradient-height-xxl:           66%;


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Overlay =gradient Settings (the background of text above an image)

*/

// Overlay text is POSITIONED absolute.
// So 'spacing' in this context relates to the 'top, right, bottom and left' properties.
$overlay-spacing:                          $content-section-spacing;

// overlay heading and text colors
$overlay-heading-color:                    $h1-color-inverted;
$overlay-text-color:                       $body-inverted-color;

// global overlay gradient definition
$overlay-gradient-start-color:             #000;
$overlay-gradient-start-opacity:           0;
$overlay-gradient-end-color:               #000;
$overlay-gradient-end-opacity:             0.5;

// on mobile, show a background color instead of a gradient to improve readibility
$overlay-background-color-sm-max:          #000;
$overlay-background-opacity-sm-max:        0.5;
