$cookie-message-bg: #fff;
$cookie-message-header-border-color: $gray-light;
$cookie-message-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05), 0 0 20px rgba(0, 0, 0, 0.1);
$cookie-message-close-color: inherit;
$cookie-message-close-color-hover: inherit;
$cookie-message-close-transition-property: color;
$cookie-message-close-transition-duration: $link-transition-duration;
$cookie-message-close-transition-timing-function: $link-transition-timing-function;
