/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

=Heading Colors

*/

$h1-color:                   $body-color;
$h1-color-inverted:          $body-inverted-color;
$h2-color:                   $body-color;
$h2-color-inverted:          $body-inverted-color;
$h3-color:                   $body-color;
$h3-color-inverted:          $body-inverted-color;
$h4-color:                   $body-color;
$h4-color-inverted:          $body-inverted-color;
$h5-color:                   $body-color;
$h5-color-inverted:          $body-inverted-color;
$h6-color:                   $body-color;
$h6-color-inverted:          $body-inverted-color;
$display-1-color:            $body-color;
$display-1-color-inverted:   $body-inverted-color;
