/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

=nav-toggle =toggle

*/

$nav-toggle-width:                           3.125rem;
$nav-toggle-height:                          3.125rem;
$nav-toggle-line-width:                      $nav-toggle-width / 2;
$nav-toggle-line-height:                     0.125rem;
$nav-toggle-line-spacing:                    0.125rem;
$nav-toggle-line-color:                      $black;
$nav-toggle-line-color-hover:                $nav-toggle-line-color;
$nav-toggle-line-overlay-color:              $white;
$nav-toggle-line-overlay-color-hover:        $nav-toggle-line-overlay-color;
$nav-toggle-transition:                      background-color 150ms ease, transform 400ms ease;
