/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

=nav-toggle =toggle

*/

$nav-toggle-width:                           3.125rem;
$nav-toggle-height:                          3.125rem;
$nav-toggle-line-width:                      $nav-toggle-width / 2;
$nav-toggle-line-height:                     .125rem;
$nav-toggle-line-spacing:                    .125rem;
$nav-toggle-line-color:                      $black;
$nav-toggle-line-overlay-color:              $white;
$nav-toggle-transition:                      transform 400ms ease;
