/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

=newsletter plugin

*/

$newsletter-icon-plus: '\e903';
$newsletter-icon-minus: '\e900';
$newsletter-icon-checkmark: '\e206';
$newsletter-icon-checkmark-color: $black;

// max width settings
$newsletter-form-modal-max-width-md:        500px;
$newsletter-form-modal-max-width-xxl:       550px;
