/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

=seo accordion plugin

*/

$seo-accordion-border-width:            1px;
$seo-accordion-border-color:            $gray-light;
$seo-accordion-icon-size:               1.375rem;
$seo-accordion-content-spacing:         'spacing-scale-6';
