/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

=seo accordion plugin

*/

$seo-accordion-border-width:            1px;
$seo-accordion-border-color:            $gray-light;
$seo-accordion-title-color:             $body-color;
$seo-accordion-title-color-hover:       $seo-accordion-title-color;
$seo-accordion-icon-size:               to-rem(22px);
$seo-accordion-icon-color-hover:        $gray-light;
$seo-accordion-content-spacing:         'spacing-scale-6';
$seo-accordion-transition:              transform 150ms ease-in, color 300ms ease;
