/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

=Text Container (text structure withing '.text-container')

*/

// for paragraphs, lists, tables and images (first and last item will be treated automatically)
$text-container-element-default-margin-xs:  10px 0;
$text-container-element-default-margin-sm:  15px 0;
$text-container-element-default-margin-md:  15px 0;
$text-container-element-default-margin-lg:  15px 0;
$text-container-element-default-margin-xl:  15px 0;
$text-container-element-default-margin-xxl: 15px 0;

// p.lead
$p-lead-margin-xs:                          20px 0;
$p-lead-margin-sm:                          30px 0;
$p-lead-margin-md:                          30px 0;
$p-lead-margin-lg:                          30px 0;
$p-lead-margin-xl:                          30px 0;
$p-lead-margin-xxl:                         30px 0;

// h1
$text-container-h1-margin-xs:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h1-margin-sm:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h1-margin-md:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h1-margin-lg:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h1-margin-xl:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h1-margin-xxl:              $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;

// h2
$text-container-h2-margin-xs:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h2-margin-sm:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h2-margin-md:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h2-margin-lg:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h2-margin-xl:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h2-margin-xxl:              $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;

// h3
$text-container-h3-margin-xs:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h3-margin-sm:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h3-margin-md:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h3-margin-lg:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h3-margin-xl:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h3-margin-xxl:              $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;

// h4
$text-container-h4-margin-xs:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h4-margin-sm:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h4-margin-md:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h4-margin-lg:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h4-margin-xl:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h4-margin-xxl:              $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;

// h5
$text-container-h5-margin-xs:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h5-margin-sm:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h5-margin-md:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h5-margin-lg:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h5-margin-xl:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h5-margin-xxl:              $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;

// h6
$text-container-h6-margin-xs:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h6-margin-sm:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h6-margin-md:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h6-margin-lg:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h6-margin-xl:               $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;
$text-container-h6-margin-xxl:              $grid-gutter-width*1.5 0 $grid-gutter-width/2 0;

// display-1
$text-container-display-1-margin-xs:        $grid-gutter-width 0 $grid-gutter-width/2 0;
$text-container-display-1-margin-sm:        $grid-gutter-width 0 $grid-gutter-width/2 0;
$text-container-display-1-margin-md:        $grid-gutter-width 0 $grid-gutter-width/2 0;
$text-container-display-1-margin-lg:        $grid-gutter-width 0 $grid-gutter-width/2 0;
$text-container-display-1-margin-xl:        $grid-gutter-width 0 $grid-gutter-width/2 0;
$text-container-display-1-margin-xxl:       $grid-gutter-width 0 $grid-gutter-width/2 0;


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

=Lists (withing .text-container)

Make sure to define this list AFTER the typography (especially font size
and line height) is defined. Otherwise you will have to readjust it.

*/

// general
$list-padding-xs: 30px;
$list-padding-md: 35px;
// ul
$unordered-list-item-icon: '-';
$unordered-list-item-icon-size: 0.8em;
// x position of icon/number (might need some fine tuning, depending on the icon and icon size)
$unordered-list-item-icon-spacing-top-xs: 10px;
$unordered-list-item-icon-spacing-top-md: 9px;
$unordered-list-item-icon-spacing-left-xs: 9px;
$unordered-list-item-icon-spacing-left-md: 12px;
$ordered-list-item-icon-spacing-left-xs: 10px;
$ordered-list-item-icon-spacing-left-md: 10px;
