/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

=Text Container (text structure withing '.text-container')

*/

// for paragraphs, lists, tables and images (first and last item will be treated automatically)
$text-container-element-default-margin-bottom-min:                  $grid-gutter-width-xs/2;
$text-container-element-default-margin-bottom-max:                  $grid-gutter-width/4;
$text-container-element-default-margin-top-min:                     $grid-gutter-width-xs/2;
$text-container-element-default-margin-top-max:                     $grid-gutter-width/4;

// p.lead
$p-lead-margin-bottom-min:                  $grid-gutter-width-xs;
$p-lead-margin-bottom-max:                  $grid-gutter-width/2;
$p-lead-margin-top-min:                     $grid-gutter-width-xs;
$p-lead-margin-top-max:                     $grid-gutter-width/2;

// h1
$text-container-h1-margin-bottom-min:       $grid-gutter-width-xs/2;
$text-container-h1-margin-bottom-max:       $grid-gutter-width/2;
$text-container-h1-margin-top-min:          $grid-gutter-width-xs;
$text-container-h1-margin-top-max:          $grid-gutter-width;

// h2
$text-container-h2-margin-bottom-min:       $grid-gutter-width-xs/2;
$text-container-h2-margin-bottom-max:       $grid-gutter-width/2;
$text-container-h2-margin-top-min:          $grid-gutter-width-xs;
$text-container-h2-margin-top-max:          $grid-gutter-width;

// h3
$text-container-h3-margin-bottom-min:       $grid-gutter-width-xs/2;
$text-container-h3-margin-bottom-max:       $grid-gutter-width/2;
$text-container-h3-margin-top-min:          $grid-gutter-width-xs;
$text-container-h3-margin-top-max:          $grid-gutter-width;

// h4
$text-container-h4-margin-bottom-min:       $grid-gutter-width-xs/2;
$text-container-h4-margin-bottom-max:       $grid-gutter-width/2;
$text-container-h4-margin-top-min:          $grid-gutter-width-xs;
$text-container-h4-margin-top-max:          $grid-gutter-width;

// h5
$text-container-h5-margin-bottom-min:       $grid-gutter-width-xs/2;
$text-container-h5-margin-bottom-max:       $grid-gutter-width/2;
$text-container-h5-margin-top-min:          $grid-gutter-width-xs;
$text-container-h5-margin-top-max:          $grid-gutter-width;

// h6
$text-container-h6-margin-bottom-min:       $grid-gutter-width-xs/2;
$text-container-h6-margin-bottom-max:       $grid-gutter-width/2;
$text-container-h6-margin-top-min:          $grid-gutter-width-xs;
$text-container-h6-margin-top-max:          $grid-gutter-width;


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

=Lists (withing .text-container)

Make sure to define this list AFTER the typography (especially font size
and line height) is defined. Otherwise you will have to readjust it.

*/

$list-item-line-height: 1.2;
$list-item-spacing: 'spacing-equal-5';

// ul
$unordered-list-item-padding: 0.7em;
$unordered-list-item-icon-size: 0.3em;
$unordered-list-item-icon-spacing-top: 0.6em; // might need some fine tuning, depending on the icon and icon size
$unordered-list-item-icon-spacing-left: 0;
$unordered-list-item-icon-color: currentColor;
$unordered-list-item-icon-border-radius: 50%;

// ol
$ordered-list-item-padding: 0;
$ordered-list-item-icon-spacing-left: 0.4em;
