/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Global helper classes for horizontal (h) content alignment

Default: left (no class required), but can be overwritten

Plugins that use these classes:

- Content Plugin Column
- Button/Link Plugin

*/

// mobile

@include media-breakpoint-down(sm) {
    .align-h-mobile-left {
        text-align: left;
    }
    .align-h-mobile-center {
        text-align: center;
    }
    .align-h-mobile-right {
        text-align: right;
    }
}

// desktop

@include media-breakpoint-up(md) {
    .align-h-desktop-left {
        text-align: left;
    }
    .align-h-desktop-center {
        text-align: center;
    }
    .align-h-desktop-right {
        text-align: right;
    }
}
