.browser-suggestion {
    @include make-container();
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 3000;
    overflow-y: scroll;
    background-color: white;

    &__container {
        @include make-col(12);
        margin: 0 auto;

        .lead {
            text-transform: uppercase;
            color: $gray-light;
            margin: 0;
        }

        .heading {
            @include spacings-size(spacing-equal-4, margin-top);
            @include spacings-size(spacing-equal-3, margin-bottom);
            text-transform: uppercase;
        }

        .text-container {
            @include spacings-size(spacing-scale-2, margin-bottom);
        }

        .text {
            display: inline-block;
            margin-bottom: 3.125rem !important;
            margin-top: 0;
        }

        @include media-breakpoint-down(xs) {
            @include make-col(24);
            padding-top: 7.1875rem;

            .browser-download-btn {
                display: block;
                margin: 1.25rem 0;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;

        .btn {
            @include spacings-size(spacing-equal-5, margin-bottom);
            @include spacings-size(spacing-equal-3, margin-right);
        }
    }
}
