.browser-suggestion {
    @include make-container();
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    overflow-y: scroll;
    background-color: white;

    &__container {
        @include make-col(12);
        padding-top: 40vh;
        margin: 0 auto;

        .lead {
            margin-bottom: 0.3125rem;
            text-transform: uppercase;
            color: $gray-light;
        }

        .heading {
            margin-top: 0.3125rem;
            margin-bottom: 0.9375rem;
            text-transform: uppercase;
        }

        .text {
            display: inline-block;
            margin-bottom: 3.125rem !important;
            margin-top: 0;
        }

        .btn {
            margin: 1.25rem 0;
        }

        @include media-breakpoint-down(xs) {
            @include make-col(24);
            padding-top: 7.1875rem;

            .btn {
                display: block;
                margin: 1.25rem 0;
            }
        }
    }
}
