.default-contact-form {
    .heading-container {
        margin-bottom: $grid-gutter-width;
    }
    .heading {
        @include h2();
    }
    .phone-container {
        .datepicker-container,
        .datepicker-rendered,
        .dropdown-toggle,
        .dropdown-menu {
            width: 100%;
            max-width: none;
        }
    }
}
