/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Lazyload transition and placeholder styles of images

Usage:

<picture class="lazyloader"> ... </picture>

Optionally we can tell the lazyloader NOT to dislpay an icon:

<picture class="lazyloader no-icon"> ... </picture>

*/

picture.lazyloader {
    position: relative;
    display: block;
    background: $lazyloader-bg-color;
    @include the-loader();
    transition: opacity $lazyloader-transition-duration;
    // modifier classes
    &.icon-disabled {
        &:before {
            display: none;
        }
    }
    &.bg-disabled {
        // this is stronger than setting a bg color
        background: transparent !important;
    }
    // the background color variations
    @each $nr, $color in $project-colors {
        // set via templatetag
        &.project-color-#{$nr} {
            background-color: $color;
        }
        // set via image plugin
        .image-container.project-color-#{$nr} & {
            background-color: $color;
        }
    }
    // we use the ratio "hack" on the picture element, so we can position the actual image absolute
    > img {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0;
        transition: opacity $lazyloader-transition-duration;

        &.lazyload,
        &.lazyloading,
        &.lazyloaded {
            display: block;
            width: 100%;
            height: auto;
            max-width: none;
            transform: translate3d(0,0,0);
        }

        &.lazyloaded {
            opacity: 1;
            z-index: 2;
        }
    }
}
