/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Link icon

*/

.link-icon {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: $btn-icon-size;
    height: $btn-icon-size;
    flex: 0 0 auto;

    &.link-icon--right,
    &.link-icon--left {
        display: none;
    }

    svg {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: auto;
        fill: currentColor;
        will-change: transform;
        transition-property: transform;
        transition-duration: $btn-icon-transition-duration;
        transition-timing-function: $btn-icon-transition-timing-function;
    }
}
