/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Link icon

*/

.link-icon {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
    width: $btn-icon-size;
    height: $btn-icon-size;
    flex: 0 0 auto;
    transition-duration: $btn-icon-transition-duration;
    transition-timing-function: $btn-icon-transition-timing-function;
    will-change: transform;

    &.link-icon--right,
    &.link-icon--left {
        display: none;
    }

    &.link-icon--left {
        margin-right: $btn-icon-spacing;
    }

    &.link-icon--right {
        margin-left: $btn-icon-spacing;
    }

    svg {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: auto;
        fill: currentColor;
    }
}
