/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Global modal definitions

*/

body.tingle-enabled {
    @media print {
        height: auto !important;
        margin: 0 !important;
        overflow: visible !important;
        #cms-top,
        .site-header,
        .site-content,
        .site-footer {
            display: none;
        }
    }
}

.tingle-modal {

    // add scroll bars per defeault
    overflow-y: auto;

    // positioning fix on mobile
    @media (max-width:$screen-xs-max) {
        top: 0;
    }
    // add correct pointer
    cursor: pointer;
    &.tingle-modal--noOverlayClose {
        cursor: default;
    }
    // variations
    &.form-modal {
        transition: $form-modal-transition;
    }

}

// fix for projects where the position property has been forgotten
.tingle-modal__close {
    &:before {
        position: absolute;
    }
}

// remove default padding when overflow
.tingle-modal--overflow {
    padding-top: 0;
}

// reset transform per default, and add project specific if desired
.tingle-modal-box {
    transform: none;
    .tingle-modal--visible & {
        transform: none;
    }
    @include print() {
        position: static !important;
    }
}

.tingle-modal--visible {
    @media print {
        position: static !important;
        overflow: visible !important;
        top: 0 !important;
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Form Modal Modifications (to be relocated ASAP)

*/

.tingle-modal.form-modal {
    .tingle-modal-box {
        align-self: center;
    }
}

