/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Resetting default transition WITHIN SOFTPAGE when elements are becoming visible during scrolling

Effects all elements with the attribute [data-scroll-spy]

*/

@if $softpage-content-transition-enabled == false {
    [data-scroll-spy] {
        .tingle-modal & {
            opacity: 1;
            transition: none;
        }
    }
}

// making sure all items are visible when the page is loaded
[data-scroll-spy] {
    @include print() {
        opacity: 1 !important;
    }
}
