/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Global Softpage definitions

*/

.tingle-modal.softpage {

    // in case of the softpage, we want our .tingle-modal-box to handle to overflow scrolling
    overflow: hidden;

    .tingle-modal-box {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        overflow-y: auto;
        margin: 0;
        min-height: 0 !important; // this one is set on a project basis, so we gotta force it
    }

    // variations
    &[data-softpage-variation="small"] {
        .tingle-modal-box {
            @media (min-width: $screen-sm) {
                max-width: $softpage-small-sm-max-width;
            }
            @media (min-width:$screen-xxl) {
                max-width: $softpage-small-xxl-max-width;
            }
        }
    }

    // if a form modal is triggered, let's hide the softpage in order to prevent overlapping
    .form-modal-visible & {
        opacity: 0;
        z-index: z("default");
    }

}
