/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Global Swiper Custom Styles

*/

.swiper-container {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
    &.swiper-initialized,
    &.swiper-disabled {
        opacity: 1;
    }
    &.swiper-disabled {
        + .swiper-optional-container {
            display: none;
        }
    }
}

// Buttons (arrows)
.swiper-button {
    background: none;
    top: auto;
    bottom: 0;
    transform: translate(0,0);
    margin: 0;
    width: $swiper-default-arrows-button-width-xs;
    height: $swiper-default-arrows-button-height-xs;
    @media (min-width:$screen-md) {
        width: $swiper-default-arrows-button-width-md;
        height: $swiper-default-arrows-button-height-md;
    }
    @media (min-width:$screen-xl) {
        width: $swiper-default-arrows-button-width-xl;
        height: $swiper-default-arrows-button-height-xl;
    }
    &:link,
    &:visited {
        color: $swiper-default-arrows-color;
        border: none;
        text-decoration: none;
    }
    &:hover,
    &:focus {
        border: none;
        text-decoration: none;
        > i {
            color: $swiper-default-arrows-color-hover;
        }
        .swiper-button__inner {
            opacity: $swiper-default-arrows-opacity-hover;
        }
    }
    // icon
    &__inner {
        display: block;
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        opacity: $swiper-default-arrows-opacity;
        transition-property: $swiper-default-arrows-transition-property;
        transition-duration: $swiper-default-arrows-transition-duration;
        transition-timing-function: $swiper-default-arrows-transition-timing-function;
        width: $swiper-default-arrows-button-width-xs;
        height: $swiper-default-arrows-button-height-xs;
        background-color: $swiper-default-arrows-button-bg-xs;
        @media (min-width:$screen-md) {
            width: $swiper-default-arrows-button-width-md;
            height: $swiper-default-arrows-button-height-md;
        }
        @media (min-width:$screen-xl) {
            width: $swiper-default-arrows-button-width-xl;
            height: $swiper-default-arrows-button-height-xl;
        }
        &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            color: $swiper-default-arrows-color;
            font-size: $swiper-default-arrows-icon-size-xs;
            @media (min-width:$screen-md) {
                font-size: $swiper-default-arrows-icon-size-md;
            }
            @media (min-width:$screen-xl) {
                font-size: $swiper-default-arrows-icon-size-xl;
            }
            @include icomoon();
        }
    }
    // no point in displaying controls if there is only 1 slide. Class toggled via JS.
    .swiper-disabled & {
        display: none;
    }
}

.swiper-button-prev {
    left: -$swiper-default-arrows-button-width-xs/3;
    @media (min-width:$screen-md) {
        left: -$swiper-default-arrows-button-width-md/3;
    }
    @media (min-width:$screen-xl) {
        left: -$swiper-default-arrows-button-width-xl/3;
    }
    &__inner {
        left: 0;
        &:before {
            content: $swiper-default-arrows-icon-previous;

        }
    }
}

.swiper-button-next {
    right: -$swiper-default-arrows-button-width-xs/3;
    @media (min-width:$screen-md) {
        right: -$swiper-default-arrows-button-width-md/3;
    }
    @media (min-width:$screen-xl) {
        right: -$swiper-default-arrows-button-width-xl/3;
    }
    &__inner {
        right: 0;
        &:before {
            content: $swiper-default-arrows-icon-next;
        }
    }
}

.swiper-optional-container {
    @include clearfix();
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    height: $swiper-default-arrows-button-height-xs;
    clear: both;
    @media (min-width:$screen-md) {
        height: $swiper-default-arrows-button-height-md;
    }
    @media (min-width:$screen-xl) {
        height: $swiper-default-arrows-button-height-xl;
    }
    .swiper-disabled & {
        display: none;
    }
    border-bottom: 1px solid $gray-lighter;
    .testimonials-plugin & {
        border-top: 1px solid $brand-primary !important;
        border-bottom: none;
    }
}

.swiper-content-container {
    margin-top: $grid-gutter-width/4;
    .swiper-content {
        color: $gray-light;
        display: none;
        &--visible {
            display: block;
        }
    }
}

.swiper-slide-details-container {
    @include max-width();
    @include column-padding-sm-max();
    margin: $grid-gutter-width auto 0;
    @media (min-width: $screen-md) {
        max-width: 900px;
    }
    .swiper-content {
        text-align: center;
        &__title {
            @include font-h3();
            margin-bottom: $grid-gutter-width/2;
        }
        &__logo__list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            margin: $grid-gutter-width/2 0 $grid-gutter-width;
        }
        &__logo {
            max-height: $grid-gutter-width * 4;
            @media (min-width: $screen-md) {
                max-height: $grid-gutter-width * 5;
            }
        }
    }
}



/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Counter

*/

.swiper-counter {

    display: none;
    float: right;

    &__current {
    }

    &__separator {
        &:before {
            content: '/';
        }
    }

    &__total {

    }
}

// activated via plugin
.swiper-counter--active {
    display: block;
}
