//
// Buttons
// --------------------------------------------------

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Global Button Definitions

*/

.btn {
    @include button-base();
}

a.btn {
    &.disabled,
    fieldset[disabled] & {
        pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
    @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-primary {
    @include button-variant($btn-primary-color, $btn-primary-bg, $btn-primary-border);
}
// Success appears as green
.btn-success {
    @include button-variant($btn-success-color, $btn-success-bg, $btn-success-border);
}
// Info appears as blue-green
.btn-info {
    @include button-variant($btn-info-color, $btn-info-bg, $btn-info-border);
}
// Warning appears as orange
.btn-warning {
    @include button-variant($btn-warning-color, $btn-warning-bg, $btn-warning-border);
}
// Danger and error appear as red
.btn-danger {
    @include button-variant($btn-danger-color, $btn-danger-bg, $btn-danger-border);
}


// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
    color: $link-color;
    font-weight: normal;
    border-radius: 0;

    &,
    &:active,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
        @include box-shadow(none);
    }
    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
    }
    &:hover,
    &:focus {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
        background-color: transparent;
    }
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus {
            color: $btn-link-disabled-color;
            text-decoration: none;
        }
    }
}


// Block button
// --------------------------------------------------

.btn-block {
    display: block;
    width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
    margin-top: 5px;
}

// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
    &.btn-block {
        width: 100%;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Button Container

*/

.btn-container {
    @include clearfix();
    .btn {
        float: left; // removes spacing between inline elements
        margin-top: $btn-container-btn-spacing-xs;
        margin-right: $btn-container-btn-spacing-xs;
        @include media-breakpoint-up(md) {
            margin-top: $btn-container-btn-spacing-md;
            margin-right: $btn-container-btn-spacing-md;
        }
        @include media-breakpoint-up(xl) {
            margin-top: $btn-container-btn-spacing-xl;
            margin-right: $btn-container-btn-spacing-xl;
        }
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Basic Button Variations

*/

@each $key, $value in $btn-variations {
    .btn-#{$key} {
        @include button-variation($key);
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Link Button: Make a button look and behave like a link,
BUT with the button's padding

*/

.btn-muted,
.btn-link {
    color: $link-color;
    font-weight: normal;
    border-radius: 0;

    &,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
    }
    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
    }
    &:hover,
    &:focus {
        color: $link-color-hover;
        text-decoration: $link-decoration-hover;
        background-color: transparent;
    }
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus {
            color: $btn-link-disabled-color;
            cursor: $cursor-disabled;
            text-decoration: none;
        }
    }
}
