/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Button Container

*/

.btn-container {
    @include clearfix();
    .btn {
        float: left; // removes spacing between inline elements
        margin-top: $btn-container-btn-spacing-xs;
        margin-right: $btn-container-btn-spacing-xs;
        @media (min-width:$screen-md) {
            margin-top: $btn-container-btn-spacing-md;
            margin-right: $btn-container-btn-spacing-md;
        }
        @media (min-width:$screen-xl) {
            margin-top: $btn-container-btn-spacing-xl;
            margin-right: $btn-container-btn-spacing-xl;
        }
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Global Button Definitions

*/

.btn {

    transition: $form-field-transition;

    &:link,
    &:visited {
        text-decoration: none;
        box-shadow: none;
    }
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        box-shadow: none;
        outline: none;
    }
    // font sizes
    @include btn-default();
    &.btn-sm {
        @include btn-small();
    }
    &.btn-lg {
        @include btn-large();
    }

    // IMPORTANT: Has to be set AFTER the font definition, for we ignore the line-height defined in the font settings of buttons
    line-height: $btn-line-height-default;
    border-style: $form-field-border-style;
    border-width: $form-field-border-width;
    border-color: $form-field-border-color;

    padding-top: $btn-padding-top-default;
    padding-bottom: $btn-padding-bottom-default;

}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Basic Button Variations

*/

@each $key, $value in $btn-variations {
    .btn-#{$key} {
        background-color: map-deep-get($value,'bg');
        border-top-color: map-deep-get($value,'border-top-color');
        border-right-color: map-deep-get($value,'border-right-color');
        border-bottom-color: map-deep-get($value,'border-bottom-color');
        border-left-color: map-deep-get($value,'border-left-color');
        &,
        &:link,
        &:visited {
            color: map-deep-get($value,'color');
        }
        &:hover,
        &:focus,
        &:focus:active,
        &:active,
        &:active:hover {
            background-color: map-deep-get($value,'bg-hover');
            color: map-deep-get($value,'color-hover');
            border-top-color: map-deep-get($value,'border-top-color-hover');
            border-right-color: map-deep-get($value,'border-right-color-hover');
            border-bottom-color: map-deep-get($value,'border-bottom-color-hover');
            border-left-color: map-deep-get($value,'border-left-color-hover');
            outline: none; // not very good because of accessibility reasons, but the default style looks too ugly.
        }
        &.disabled,
        &[disabled],
        fieldset[disabled] & {
            opacity: 1;
            background-color: map-deep-get($value,'bg-disabled');
            color: map-deep-get($value,'color-disabled');
            border-top-color: map-deep-get($value,'border-top-color-disabled');
            border-right-color: map-deep-get($value,'border-right-color-disabled');
            border-bottom-color: map-deep-get($value,'border-bottom-color-disabled');
            border-left-color: map-deep-get($value,'border-left-color-disabled');
        }
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Link Button: Make a button look and behave like a link,
BUT with the button's padding

*/

.btn-muted,
.btn-link {
    color: $link-color;
    font-weight: normal;
    border-radius: 0;

    &,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: transparent;
    }
    &,
    &:hover,
    &:focus,
    &:active {
        border-color: transparent;
    }
    &:hover,
    &:focus {
        color: $link-color-hover;
        text-decoration: $link-decoration-hover;
        background-color: transparent;
    }
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus {
            color: $btn-link-disabled-color;
            cursor: $cursor-disabled;
            text-decoration: none;
        }
    }
}
