//
// Buttons
// --------------------------------------------------

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Global Button Definitions

*/
///Variables
$btn-link-background-color-active: transparent !default;
$btn-link-border-color-active: transparent !default;
$btn-link-background-color-focus: transparent !default;

.btn {
    @include button-base();
}

a.btn {
    &.disabled,
    fieldset[disabled] & {
        pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Button Container

*/

.btn-container {
    @include clearfix();

    .btn {
        float: left; // removes spacing between inline elements
        margin-top: $btn-container-btn-spacing-xs;
        margin-right: $btn-container-btn-spacing-xs;

        @include media-breakpoint-up(md) {
            margin-top: $btn-container-btn-spacing-md;
            margin-right: $btn-container-btn-spacing-md;
        }

        @include media-breakpoint-up(xl) {
            margin-top: $btn-container-btn-spacing-xl;
            margin-right: $btn-container-btn-spacing-xl;
        }
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Basic Button Variations

*/

@each $key, $value in $btn-variations {
    .btn-#{$key} {
        @include button-variation($key);
        @include button-mask-effect($key);
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Link Button: Make a button look and behave like a link,
BUT with the button's padding

*/

.btn-muted,
.btn-link {
    color: $link-color;
    font-weight: normal;
    border-radius: 0;

    &,
    &.active,
    &[disabled],
    fieldset[disabled] & {
        background-color: $btn-link-background-color-active;
    }

    &,
    &:hover,
    &:focus,
    &:active {
        border-color: $btn-link-border-color-active;
    }

    &:hover,
    &:focus {
        color: $link-color-hover;
        text-decoration: $link-decoration-hover;
        background-color: $btn-link-background-color-focus;
    }

    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus {
            color: $btn-link-disabled-color;
            cursor: $cursor-disabled;
            text-decoration: none;
        }
    }
}
