/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Datepicker

===

Requires the following markup:

<div class="datepicker-container">
    <input class="datepicker" id="example_date" name="example_date" type="text" placeholder="{% trans "Select date..." %}">
    <!-- One of both will be displayed:-->
    <span class="calendar-btn"></span>
    <span class="time-btn"></span>
    <!-- If field is OPTIONAL, we have to be able to clear the field-->
    <span class="clear-btn"></span>
</div>

*/

.datepicker-container {
    position: relative;
    width: $datepicker-default-width;
    min-width: $datepicker-default-min-width;
    max-width: $datepicker-default-max-width;
    > .form-control {
        position: relative;
        background-color: $datepicker-default-input-bg; // required, because it is set on "readonly" and gets overwritten by Bootstrap
        z-index: 1;
    }
    // general datepicker button styles
    > .calendar-btn,
    > .time-btn,
    > .clear-btn {
        position: absolute;
        top: 0;
        right: 0;
        width: $datepicker-default-btn-width;
        height: 100%;
        cursor: pointer;
        z-index: 2;
        &:after {
            @include icomoon();
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: $datepicker-default-btn-icon-size;
            transform: translate(-50%,-50%);
            color: $datepicker-default-btn-icon-color;
            &:hover,
            &:focus {
                color: $datepicker-default-btn-icon-color-hover;
            }
        }
    }
    > .calendar-btn {
        &:after {
            content: $datepicker-default-btn-icon;
        }
    }
    > .time-btn {
        &:after {
            content: $datepicker-time-btn-icon;
        }
    }
    > .clear-btn {
        opacity: 0;
        transform: scale(0);
        transition: $datepicker-clear-btn-transition;
        right: $datepicker-clear-btn-position-right;
        &:after {
            content: $datepicker-clear-btn-icon;
            font-size: $datepicker-clear-btn-icon-size;
            color: $datepicker-clear-btn-icon-color;
            &:hover,
            &:focus {
                color: $datepicker-clear-btn-icon-color-hover;
            }
        }
    }
    // in case a value is set, we have a modifier class available
    &.has-value {
        > .clear-btn {
            transform: scale(1);
            opacity: 1;
        }
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Selected Day

*/

.flatpickr-day {
    &.selected {
        &,
        &:hover,
        &:focus {
            color: $datepicker-selected-day-color;
            background-color: $datepicker-selected-day-bg;
            border-color: $datepicker-selected-day-border-color;
            border-width: $datepicker-selected-day-border-width;
        }
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Overwriting default flatpickr styles of time picker to increase accessibility

*/

.numInputWrapper {
    span {
        width: 35px;
        &:after {
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

