/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Text Fields

*/

.form-control {
    font-size: inherit;
    line-height: $btn-line-height-default;
    color: $input-color;
    background-color: $input-bg;
    height: auto;
    width: 100%;
    border-width: $form-field-border-width;
    border-top-color: $input-border-top-color;
    border-right-color: $input-border-right-color;
    border-bottom-color: $input-border-bottom-color;
    border-left-color: $input-border-left-color;
    border-radius: $form-field-border-radius-default;
    padding-left: $input-padding-left;
    padding-right: $input-padding-right;
    box-shadow: none;
    transition: $form-field-transition;
    // applying button padding (top/bottom) to make them equally high in case of input-groups
    padding-top: $btn-padding-top-default;
    padding-bottom: $btn-padding-bottom-default;
    &:focus {
        border-top-color: $input-border-top-color-focus;
        border-right-color: $input-border-right-color-focus;
        border-bottom-color: $input-border-bottom-color-focus;
        border-left-color: $input-border-left-color-focus;
        box-shadow: none;
    }

    &.error {
        border-top-color: $input-error-border-top-color;
        border-right-color: $input-error-border-right-color;
        border-bottom-color: $input-error-border-bottom-color;
        border-left-color: $input-error-border-left-color;
        background-color: $input-error-bg;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Placeholder

*/

::-webkit-input-placeholder {
   color: $input-color-placeholder;
}

:-moz-placeholder { /* Firefox 18- */
   color: $input-color-placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $input-color-placeholder;
}

:-ms-input-placeholder {
   color: $input-color-placeholder;
}

