.grid-dynamic-container {

    .the-grid {
        @include make-row();
        // on XS we have a smaller column padding
        @include make-row-sm-max();
        margin-bottom: -$app-content-plugin-dynamic-grid-item-spacing-xs;
        @media (min-width:$screen-md) {
            margin-bottom: -$app-content-plugin-dynamic-grid-item-spacing-md;
        }
        @media (min-width:$screen-md) {
            margin-bottom: -$app-content-plugin-dynamic-grid-item-spacing-xl;
        }
        // remove negative margins in case there are no results
        .no-results & {
            margin-bottom: 0;
        }
    }

    .grid-item,
    .grid-sizer {
        .items-per-row-1 & {
            @include make-xs-column(24);
        }
        .items-per-row-2 & {
            @include make-xs-column(24);
            @include make-sm-column(12);
        }
        .items-per-row-3 & {
            @include make-xs-column(24);
            @include make-sm-column(12);
            @include make-md-column(8);
        }
        .items-per-row-4 & {
            @include make-xs-column(24);
            @include make-sm-column(12);
            @include make-md-column(6);
        }
        .items-per-row-5 & {
            @include make-xs-column(24);
            @include make-sm-column(8);
            @include make-md-column(6);
            @media (min-width:$screen-lg) {
                width: 20%;
            }
        }
        .items-per-row-6 & {
            @include make-xs-column(12);
            @include make-sm-column(8);
            @include make-md-column(4);
        }
    }

    .grid-item {
        margin-bottom: $app-content-plugin-dynamic-grid-item-spacing-xs;
        @media (min-width:$screen-md) {
            margin-bottom: $app-content-plugin-dynamic-grid-item-spacing-md;
        }
        @media (min-width:$screen-md) {
            margin-bottom: $app-content-plugin-dynamic-grid-item-spacing-xl;
        }
    }

    /* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

    Masonry treats our grid-sizer as an element beacuse of bootstrap's
    column definitions. Let's get rid of them!

    */

    .grid-sizer {
        padding: 0 !important;
        float: none !important;
        height: 0 !important;
        min-height: 0 !important;
    }

    // add smaller columns on XS (we have to fight the specifcy war in order to avoid an !important)
    .the-grid {
        .grid-item {
            @include column-padding-sm-max();
        }
    }

    // default heading
    .grid-item {
        .heading {
            @include h2();
        }
    }

}
