.grid-static-container {

    .the-grid {
        @include make-row();
        // on XS we have a smaller column padding
        @include make-row-sm-max();
        // Negativ margin to peacefully fight the item's margin
        margin-bottom: -$app-content-plugin-static-grid-item-spacing-xs;
        @media (min-width:$screen-md) {
            margin-bottom: -$app-content-plugin-static-grid-item-spacing-md;
        }
        @media (min-width:$screen-md) {
            margin-bottom: -$app-content-plugin-static-grid-item-spacing-xl;
        }
        // remove negative margins in case there are no results
        &.app-list__no-results {
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }

    // column settings
    .grid-item {
        @include make-col-ready();
        .items-per-row-1 & {
            @include make-xs-column(24);
        }
        .items-per-row-2 & {
            @include make-xs-column(24);
            @include make-sm-column(12);
        }
        .items-per-row-3 & {
            @include make-xs-column(24);
            @include make-sm-column(12);
            @include make-lg-column(8);
        }
        .items-per-row-4 & {
            @include make-xs-column(24);
            @include make-sm-column(12);
            @include make-md-column(6);
        }
        .items-per-row-5 & {
            @include make-xs-column(12);
            @include make-sm-column(8);
            @include make-md-column(6);
        }
        .items-per-row-6 & {
            @include make-xs-column(12);
            @include make-sm-column(8);
            @include make-md-column(4);
        }
    }

    // spacing between items
    .grid-item {
        margin-bottom: $app-content-plugin-static-grid-item-spacing-xs;
        @media (min-width:$screen-md) {
            margin-bottom: $app-content-plugin-static-grid-item-spacing-md;
        }
        @media (min-width:$screen-md) {
            margin-bottom: $app-content-plugin-static-grid-item-spacing-xl;
        }
        &.appended {
            // TBD
        }
    }

    // add smaller columns on XS (we have to fight the specifcy war in order to avoid an !important)
    .the-grid {
        .grid-item {
            @include column-padding-sm-max();
        }
    }

    // default heading
    .grid-item {
        .heading {
            @include font-h2();
        }
    }

}
