.grid-static-container {

    .the-grid {
        @include make-row();

        @if $app-content-plugin-static-grid-item-spacing {
            // Negative margin to peacefully fight the item's margin
            @include spacings-size($app-content-plugin-static-grid-item-spacing, margin-bottom, $negative: true);
        }
        // remove negative margins in case there are no results
        &.app-list__no-results {
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }

    // column settings
    .grid-item {
        @include make-col-ready();

        display: flex;
        // any direct child of grid item should get 100% width
        > * {
            width: 100%;
        }
        .items-per-row-1 & {
            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }
        }
        .items-per-row-2 & {
            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }
            @include media-breakpoint-up(sm) {
                @include make-col(12);
            }
        }
        .items-per-row-3 & {
            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }
            @include media-breakpoint-up(sm) {
                @include make-col(12);
            }
            @include media-breakpoint-up(md) {
                @include make-col(8);
            }
        }
        .items-per-row-4 & {
            @include media-breakpoint-up(xs) {
                @include make-col(24);
            }
            @include media-breakpoint-up(sm) {
                @include make-col(12);
            }
            @include media-breakpoint-up(md) {
                @include make-col(6);
            }
        }
    }

    // spacing between items
    .grid-item {
        @if $app-content-plugin-static-grid-item-spacing {
            @include spacings-size($app-content-plugin-static-grid-item-spacing, margin-bottom);
        }
        &.appended {
            // TBD
        }
    }

    // default heading
    .grid-item {
        .heading {
            @include font-h2();
        }
    }
}
