/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Global Swiper Custom Styles

*/

// Slide ratios (works closely together with the thumbnail settings)
.swiper-slide {
    // Used in Content Plugin > Column
    .swiper-gallery-plugin & {
        @include aspect-ratio($swiper-gallery-plugin-aspect-ratio-width-xs,$swiper-gallery-plugin-aspect-ratio-height-xs);
        @media (min-width:$screen-md) {
            @include aspect-ratio($swiper-gallery-plugin-aspect-ratio-width-md,$swiper-gallery-plugin-aspect-ratio-height-md);
        }
        @media (min-width:$screen-xl) {
            @include aspect-ratio($swiper-gallery-plugin-aspect-ratio-width-xl,$swiper-gallery-plugin-aspect-ratio-height-xl);
        }
    }
    // App Content > Displaying entries as a slider
    .swiper-app-content & {
        @include aspect-ratio($swiper-app-content-aspect-ratio-width-xs,$swiper-app-content-aspect-ratio-height-xs);
        @media (min-width:$screen-md) {
            @include aspect-ratio($swiper-app-content-aspect-ratio-width-md,$swiper-app-content-aspect-ratio-height-md);
        }
        @media (min-width:$screen-xl) {
            @include aspect-ratio($swiper-app-content-aspect-ratio-width-xl,$swiper-app-content-aspect-ratio-height-xl);
        }
    }
    // App Content > Detail View
    .swiper-detail-view & {
        @include aspect-ratio($swiper-detail-view-aspect-ratio-width-xs,$swiper-detail-view-aspect-ratio-height-xs);
        @media (min-width:$screen-md) {
            @include aspect-ratio($swiper-detail-view-aspect-ratio-width-md,$swiper-detail-view-aspect-ratio-height-md);
        }
        @media (min-width:$screen-xl) {
            @include aspect-ratio($swiper-detail-view-aspect-ratio-width-xl,$swiper-detail-view-aspect-ratio-height-xl);
        }
    }
}

// Slide basic styles
.swiper-slide {
    background-color: $swiper-default-bg;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// Buttons (arrows)
.swiper-button {
    background: none;
    width: $swiper-default-arrows-width;
    height: 40%;
    top: 50%;
    margin: 0;
    transform: translate(0,-50%);
    opacity: $swiper-default-arrows-opacity;
    transition: $swiper-default-arrows-transition;
    &:link,
    &:visited {
        color: $swiper-default-arrows-color;
        border: none;
        text-decoration: none;
    }
    &:hover,
    &:focus {
        opacity: $swiper-default-arrows-opacity-hover;
        border: none;
        text-decoration: none;
        > i {
            color: $swiper-default-arrows-color-hover;
        }
    }
    &:before {
        position: absolute;
        top: 50%;
        transform: translate(0,-50%);
        color: $swiper-default-arrows-color;
        font-size: $swiper-default-arrows-icon-size;
        @include icomoon();
    }
    // no point in displaying controls if there is only 1 slide. Class toggled via JS.
    .swiper-disabled & {
        display: none;
    }
}

.swiper-button-prev {
    left: 0;
    &:before {
        content: $swiper-default-arrows-icon-previous;
        left: $swiper-default-arrows-offset-xs;
        @media (min-width:$screen-md) {
            left: $swiper-default-arrows-offset-md;
        }
        @media (min-width:$screen-xl) {
            left: $swiper-default-arrows-offset-xl;
        }
    }
}

.swiper-button-next {
    right: 0;
    &:before {
        content: $swiper-default-arrows-icon-next;
        right: $swiper-default-arrows-offset-xs;
        @media (min-width:$screen-md) {
            right: $swiper-default-arrows-offset-md;
        }
        @media (min-width:$screen-xl) {
            right: $swiper-default-arrows-offset-xl;
        }
    }
}

// Slider fullscreen button
.swiper-button-fullscreen {
    float: right;
}

// Pagination
.swiper-container-horizontal {
    // no point in displaying controls if there is only 1 slide
    .swiper-disabled & {
        display: none;
    }
    & > .swiper-pagination-bullets,
    & > .swiper-pagination-custom,
    & > .swiper-pagination-fraction {
        top: $swiper-default-pagination-position-top-xs;
        bottom: $swiper-default-pagination-position-bottom-xs;
        @media (min-width:$screen-md) {
            top: $swiper-default-pagination-position-top-md;
            bottom: $swiper-default-pagination-position-bottom-md;
        }
        // optionally hide the pagination on sm-max breakpoint
        @if $swiper-default-pagination-hidden-sm-max == true {
            @media (max-width:$screen-sm-max) {
               display: none;
            }
        }
    }
}

.swiper-pagination-bullet {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: transparent;
    margin: 0 !important;
    opacity: 1;
    &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -($swiper-default-bullet-size/2);
        margin-left: -($swiper-default-bullet-size/2);
        width: $swiper-default-bullet-size;
        height: $swiper-default-bullet-size;
        border-radius: 50%;
        border-width: $swiper-default-bullet-border-width;
        border-style: $swiper-default-bullet-border-style;
        border-color: $swiper-default-bullet-border-color;
        background-color: $swiper-default-bullet-bg;
        transform: scale(1);
        transition: all 150ms ease-in-out;
    }
}

.swiper-pagination-bullet-active {
    &:before {
        background-color: $swiper-default-bullet-bg-active;
        border-color: $swiper-default-bullet-border-color-active;
    }
}

// overlay
@if $swiper-default-overlay-styles-enabled == true {
    .swiper-content-overlay {
        // modifier class for a swiper instance (set on container)
        .overlay-bg-enabled & {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            @include gradient-overlay($swiper-default-overlay-gradient-height);
            @media (max-width:$screen-sm-max) {
                background-color: $overlay-background-color-sm-max;
                opacity: $overlay-background-opacity-sm-max;
            }
        }
    }
    .swiper-content-container {
        .heading {
            color: $overlay-heading-color;
        }
        .text-container {
            > * {
                color: $overlay-text-color;
            }
        }
    }
}

// Slider counter
.swiper-counter {
    display: none;
    float: left;

    &.active {
        display: block;
    }
}

/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Basic slider content styling

*/

.swiper-content-container {
    position: absolute;
    @include content-section-spacing-position(bottom);
    @include content-section-spacing-position(left);
    @include content-section-spacing-position(right);

    @media (min-width:$screen-lg) {
        max-width: 66.66%;
    }

    .heading {
        @include p-lead();
    }
}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Slider in Detail View

*/

.swiper-detail-view {

    .swiper-slide {
        @include aspect-ratio($swiper-detail-view-aspect-ratio-width-xs,$swiper-detail-view-aspect-ratio-height-xs);
        @media (min-width:$screen-md) {
            @include aspect-ratio($swiper-detail-view-aspect-ratio-width-md,$swiper-detail-view-aspect-ratio-height-md);
        }
        @media (min-width:$screen-xl) {
            @include aspect-ratio($swiper-detail-view-aspect-ratio-width-xl,$swiper-detail-view-aspect-ratio-height-md);
        }
    }

}


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

Print Styles

*/

// background images can not easily be printed, so we simply hide the swiper galleries
.swiper-container {
    @include print() {
        display: none !important;
    }
}
